<?=$this
    ->navigation()
    ->menu()
    ->setMinDepth(2)
    ->setMaxDepth(3)
?>

<div class="alert alert-info alert-dismissable" data-bind="visible: !busy()">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <?=$this->translate('<h4>Instructions</h4>Select a group and add one or more modules for that group. Set the amount of exercises and select the required exercise types.') ?>
</div>

<div class="alert alert-warning" data-bind="visible: busy() && !error() && !success()" style="display:none">
    <p><?=$this->translate('De oefeningenreeks wordt opgeslagen.') ?></p>
</div>
<div class="alert alert-error" data-bind="visible: error()" style="display:none">
    <p><?=$this->translate('De oefeningenreeks kon niet opgeslagen worden.') ?></p>
</div>
<div class="alert alert-success" data-bind="visible: success()" style="display:none">
    <p><?=$this->translate('De oefeningenreeks is opgeslagen.') ?></p>
</div>

<div class="panel panel-primary" data-bind="visible: !busy()">
    <div class="panel-heading">
        <form id="form-group" class="form-inline">
<?php if (!empty($this->groups) ) : ?>
            <label><?=$this->translate('Select a group') ?></label>
            <select class="form-control" data-bind="value: group">
<?php foreach ($this->groups as $group) : ?>
                <option value="<?=$group->Id ?>"><?=$group->Name === Application_Model_Group::DEFAULT_NAME ? $this->translate('Default group') : $group->Name ?></option>
<?php endforeach ?>
            </select>
<?php endif ?>
        </form>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" data-bind="foreach: modules">
            <fieldset>
                <legend><button class="btn btn-warning btn-xs pull-right" data-bind="click: $parent.deleteModule" title="<?=$this->translate('Delete') ?>"><i class="glyphicon glyphicon-trash"></i> <?=$this->translate('Delete') ?></button> <!-- ko text: '<?=$this->translate('Subset') ?> ' + ($index() + 1) + ': ' + name() --><!-- /ko --></legend>
                <div class="form-group">
                    <label class="col-md-2 control-label"><?=$this->translate('Amount of exercises') ?></label>
                    <div class="col-md-3 input-group">
                        <input type="number" min="5" max="50" step="5" value="10" class="form-control" data-bind="value: exerciseAmount">
                        <span class="input-group-addon"><?=$this->translate('per exercise type') ?></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"><?=$this->translate('Exercise types') ?></label>
                    <div class="col-md-10" data-bind="foreach: exerciseTypes">
                        <div class="checkbox" >
                            <label><!--ko text: name--><!--/ko-->
                                <input type="checkbox" data-bind="checked: include">
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <form id="form-add-module" class="form-inline well well-sm">
            <label><?=$this->translate('Add a subset') ?></label>
            <select class="form-control" data-bind="options: modulesAvailable,
                       optionsText: function(i) { return i.name },
                       selectedOptions: modulesAvailableSelected, value: function(i) { return i.id }"></select>
            <button class="btn btn-default" type="button" data-bind="click: addModule" title="<?=$this->translate('Add') ?>"><i class="glyphicon glyphicon-plus"></i> <?=$this->translate('Add') ?></button>
        </form>
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary btn-lg" type="button" data-bind="click: save, disable: modules().length <= 0, visible: !busy()"><i class="glyphicon glyphicon-save"></i> <?=$this->translate('Save') ?></button>
    </div>
</div>
