<?=$this
    ->navigation()
    ->menu()
    ->setMinDepth(2)
    ->setMaxDepth(3)
?>

<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
<?php foreach ($this->groups as $groupIndex => $group) : ?>
            <li<?=$groupIndex < 1 ? ' class="active"' : '' ?>><a href="#tab-<?=$groupIndex ?>" data-toggle="tab"><i class="glyphicon glyphicon-book"></i> <?=$group->Name === Application_Model_Group::DEFAULT_NAME ? $this->translate('Default group') : $group->Name ?> <i class="glyphicon glyphicon-chevron-right pull-right"></i></a></li>
<?php endforeach ?>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="tab-content">
<?php foreach ($this->groups as $groupIndex => $group) : ?>
            <div class="tab-pane<?=$groupIndex < 1 ? ' active' : '' ?>" id="tab-<?=$groupIndex ?>">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p></p>
                        <span class="pull-right">
                            <strong>Algemene instellingen voor <?=$group->Name === Application_Model_Group::DEFAULT_NAME ? $this->translate('Default group') : $group->Name ?>:</strong>
                            <a class="btn btn-xs <?=$group->ExerciseSettingsId == null ? 'btn-default' : 'btn-info' ?>" href="<?=$this->baseUrl("supervisor/settings/exercise/group/{$group->Id}") ?>" title="<?=$this->translate('Exercise') ?>"><i class="glyphicon glyphicon-wrench"></i> <?=$this->translate('Exercise') ?></a>
                            <a class="btn btn-xs <?=$group->ModuleSettingsId   == null ? 'btn-default' : 'btn-info' ?>" href="<?=$this->baseUrl("supervisor/settings/module/group/{$group->Id}"  ) ?>" title="<?=$this->translate('Module'  ) ?>"><i class="glyphicon glyphicon-wrench"></i> <?=$this->translate('Module'  ) ?></a>
                        </span>
                    </div>
                </div>
<?php foreach ($group->Users as $userIndex => $user) : ?>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="glyphicon glyphicon-user"></i> <?=$user->Givenname, ' ', $user->Familyname ?>
                        <span class="pull-right">
                            <a class="btn btn-xs <?=$user->ExerciseSettingsId == null ? 'btn-default' : 'btn-info' ?>" href="<?=$this->baseUrl("supervisor/settings/exercise/user/{$user->Id}") ?>" title="<?=$this->translate('Exercise') ?>"><i class="glyphicon glyphicon-wrench"></i> <?=$this->translate('Exercise') ?></a>
                            <a class="btn btn-xs <?=$user->ModuleSettingsId   == null ? 'btn-default' : 'btn-info' ?>" href="<?=$this->baseUrl("supervisor/settings/module/user/{$user->Id}"  ) ?>" title="<?=$this->translate('Module'  ) ?>"><i class="glyphicon glyphicon-wrench"></i> <?=$this->translate('Module'  ) ?></a>
                        </span>
                    </div>
                    <div class="panel-body">
<?php foreach ($user->Sets as $setIndex => $set) : ?>
                        <div class="container-fluid" data-set>
                            <div class="row">
<?php
$total = count($set->Exercises);
$totalCorrect   = 0;
$totalIncorrect = 0;

foreach ($set->Exercises as $exercise) {
    if (strlen($exercise->TimeEnd)) {
        if ($exercise->Correct) {
            $totalCorrect++;
        } else {
            $totalIncorrect++;
        }
    }
}
$correct   = sprintf("%.2f", $totalCorrect   / $total * 100);
$incorrect = sprintf("%.2f", $totalIncorrect / $total * 100);

?>
                                <div class="col-md-5"><a class="btn btn-xs btn-default folderbutton" href="#" data-toggle="collapse" data-target="#details-<?=$user->Id?>-<?=$set->Id ?>"><i class="glyphicon glyphicon-folder-close"></i></a></span> <?=sprintf($this->translate('Set of <span class="badge">%d</span> exercises'), $total) ?></div>
                                <div class="col-md-6">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" style="width: <?=$correct   ?>%"></div>
                                        <div class="progress-bar progress-bar-warning" style="width: <?=$incorrect ?>%"></div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <span class="pull-right">
                                        <button class="btn btn-warning btn-xs pull-right" data-set-delete="<?=$set->Id ?>" title="<?=$this->translate('Delete') ?>"><i class="glyphicon glyphicon-trash"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="row collapse" id="details-<?=$user->Id?>-<?=$set->Id ?>">
                                <div class="col-md-12">
                                    <ul class="list-group">
<?php foreach ($set->Exercises as $exerciseIndex => $exercise) : ?>
                                        <li class="list-group-item list-group-item-<?=(strlen($exercise->TimeEnd) ? ($exercise->Correct ? 'success' : 'warning') : 'info') ?>" data-exercise>
                                            <i class="glyphicon glyphicon-<?=(strlen($exercise->TimeEnd) ? ($exercise->Correct ? 'ok' : 'remove') : 'pencil') ?>" title="<?=(strlen($exercise->TimeEnd) ? ($exercise->Correct ? $this->translate('Correct') : $this->translate('Incorrect')) : $this->translate('Not yet completed')) ?>"></i>
                                            <?php
                                            $attempts = '';
                                            $icon = '';
                                            foreach ($exercise->Attempts as $attempt) {
                                                if ($attempt->Correct) {
                                                    $icon = '<span class=\'label label-success\'><i class=\'glyphicon glyphicon-ok\'></i></span>';
                                                } else {
                                                    $icon = '<span class=\'label label-warning\'><i class=\'glyphicon glyphicon-remove\'></i></span>';
                                                }
                                                $attempts .= '<li>' . $icon . ' ' . $this->translate($attempt->Mode) . '</li>' . PHP_EOL;
                                            }

                                            if (empty($attempts)) {
                                                $attempts = $this->translate('No attempts yet');
                                            } else {
                                                $attempts = "<ol>{$attempts}</ol>";
                                            }
                                            ?>&nbsp;<span class="pop-over" data-toggle="popover" title="<?=$this->translate('Attempts') ?>" data-content="<?=$attempts ?>"><?=$this->translate($exercise->Type->Name) ?></span>
                                            <span class="pull-right">
                                                <button class="btn btn-warning btn-xs pull-right" data-exercise-delete="<?=$exercise->Id ?>" title="<?=$this->translate('Delete') ?>"><i class="glyphicon glyphicon-trash"></i></button>
                                            </span>
                                        </li>
<?php endforeach ?>
                                    </ul>
                                </div>
                            </div>
                        </div>
<?php endforeach ?>
                    </div>
                </div>
<?php endforeach ?>
            </div>
<?php endforeach ?>
        </div>
    </div>
</div>
