<?=$this
    ->navigation()
    ->menu()
    ->setMinDepth(2)
    ->setMaxDepth(3)
?>

<div class="row">
    <div class="col-md-4">
        <h4><?=$this->translate('Groups') ?></h4>
        <ul class="nav nav-pills nav-stacked" data-bind="foreach: groups">
            <li data-bind="css: {active: id == $parent.groupSelected() }">
                <a data-bind="click: $parent.selectGroup">
                    <i class="glyphicon glyphicon-book"></i>
                    <!-- ko text: name --><!-- /ko -->
                    <i class="glyphicon glyphicon-chevron-right" style="float:right"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4><?=$this->translate('Users in group') ?></h4>
        <ul class="nav nav-pills nav-stacked" data-bind="foreach: usersGroup">
            <li><a data-bind="click: $parent.removeUser, css: {nolink: $parent.groupSelected() == $parent.groupDefault() }">
                    <i class="glyphicon glyphicon-minus-sign" data-bind="visible: groupId != $parent.groupDefault() "></i>
                    <i class="glyphicon glyphicon-user"></i>
                    <!-- ko text: givenname  --><!-- /ko -->
                    <!-- ko text: familyname --><!-- /ko -->
                </a>
            </li>
        </ul>
        <ul class="nav nav-pills nav-stacked" data-bind="visible: !usersGroup().length">
            <li class="disabled">
                <a style="opacity: .5"><?=$this->translate('- no users in group -') ?></a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4><?=$this->translate('Available users') ?></h4>
        <ul class="nav nav-pills nav-stacked" data-bind="foreach: usersGroupDefault">
            <li>
                <a data-bind="click: $parent.addUser">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                    <i class="glyphicon glyphicon-user"></i>
                    <!-- ko text: givenname  --><!-- /ko -->
                    <!-- ko text: familyname --><!-- /ko -->
                </a>
            </li>

        </ul>
        <ul class="nav nav-pills nav-stacked" data-bind="visible: !usersGroupDefault().length">
            <li class="disabled">
                <a style="opacity: .5"><?=$this->translate('- no available users -') ?></a>
            </li>
        </ul>
    </div>
</div>

