<?=$this
    ->navigation()
    ->menu()
    ->setMinDepth(2)
    ->setMaxDepth(3)
?>

<table class="table table-hover">
    <caption><?=$this->translate('Users') ?></caption>
    <thead>
        <tr>
            <th></th>
            <th><?=$this->translate('Given name' ) ?></th>
            <th><?=$this->translate('Family name') ?></th>
            <th><?=$this->translate('User name'  ) ?></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
<?php foreach ($this->users as $user) : ?>
        <tr>
            <td><i class="glyphicon glyphicon-user"></i></td>
            <td><?=$user->Givenname  ?></td>
            <td><?=$user->Familyname ?></td>
            <td><?=$user->Username   ?></td>
            <td><span class="pull-right">
                <button class="btn btn-warning btn-xs pull-right" data-user-delete="<?=$user->Id ?>" title="<?=$this->translate('Delete') ?>"><i class="glyphicon glyphicon-trash"></i></button>
            </span></td>
        </tr>
<?php endforeach; ?>
    </tbody>
</table>
