@charset "utf-8";
/******************************************************************************
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *                        aaaAAaaa            HHHHHH                          *
 *                     aaAAAAAAAAAAaa         HHHHHH                          *
 *                    aAAAAAAAAAAAAAAa        HHHHHH                          *
 *                   aAAAAAAAAAAAAAAAAa       HHHHHH                          *
 *                   aAAAAAa    aAAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   aAAAAAa     AAAAAA                                       *
 *                    aAAAAAAaaaaAAAAAA       HHHHHH                          *
 *                     aAAAAAAAAAAAAAAA       HHHHHH                          *
 *                      aAAAAAAAAAAAAAA       HHHHHH                          *
 *                         aaAAAAAAAAAA       HHHHHH                          *
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t      *
 *                                                                            *
 *                                                                            *
 *                                MEMBER OF GHENT UNIVERSITY ASSOCIATION      *
 *                                                                            *
 *                                                                            *
 ******************************************************************************
 *
 * @author     Olivier Parent
 * @copyright  Copyright © 2011-2014 Artevelde University College Ghent
 * @license    http://www.clocklearning.org/LICENSE.txt
 */
@import '../css3.less';

html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
}
#main {
    margin: 0 auto;
    padding-bottom: 5rem;
}
#footer {
    background-color: @colour-ahs-lightgrey;
    bottom: 0;
    height: 5rem;
    position: absolute;
    width: 100%;
    p {
        text-align: center;
        line-height: 5rem;
    }
    overflow: hidden;
}

header {
    margin-bottom: 20px;
    h1 {
        img {
            max-height: 50px;
        }
    }
    nav.navbar {
        margin-bottom: 0;
    }
    nav.navbar:nth-of-type(1) {
      border-radius: 4px 4px 0 0;
    }
    nav.navbar:nth-of-type(2) {
      border-radius: 0 0 4px 4px;
    }
}

.popover {
    max-width: 500px;
}
.nolink {
    color: #000;
    text-decoration: none;
    &:hover {
        color: inherit !important;
        background-color: transparent !important;
    }
}
