<?php
/******************************************************************************
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *                        aaaAAaaa            HHHHHH                          *
 *                     aaAAAAAAAAAAaa         HHHHHH                          *
 *                    aAAAAAAAAAAAAAAa        HHHHHH                          *
 *                   aAAAAAAAAAAAAAAAAa       HHHHHH                          *
 *                   aAAAAAa    aAAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   aAAAAAa     AAAAAA                                       *
 *                    aAAAAAAaaaaAAAAAA       HHHHHH                          *
 *                     aAAAAAAAAAAAAAAA       HHHHHH                          *
 *                      aAAAAAAAAAAAAAA       HHHHHH                          *
 *                         aaAAAAAAAAAA       HHHHHH                          *
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t      *
 *                                                                            *
 *                                                                            *
 *                                MEMBER OF GHENT UNIVERSITY ASSOCIATION      *
 *                                                                            *
 *                                                                            *
 ******************************************************************************
 *
 * @author     Olivier Parent
 * @copyright  Copyright © 2011-2014 Artevelde University College Ghent
 * @license    http://www.clocklearning.org/LICENSE.txt
 */

$partialsData = array(
    'role' => $this->role,
);

?><section id="page-exercise" data-role="page" data-exercise="<?=ucfirst($this->type) ?>">
<?=$this->partial('partials/header.phtml', $partialsData) ?>

    <div data-role="panel" id="adminPanel" data-display="overlay" data-theme="b">
        <h2><?=$this->translate('Attention') ?></h2>
        <p><?=$this->translate('This menu is for the admin only!') ?></p>
        <br><br>
        <ul data-role="listview">
            <li data-role="list-divider"><?=$this->translate('Administration') ?></li>
            <li data-icon="gear"><a data-ajax="false" href="<?=$this->baseUrl('admin') ?>"><?=$this->translate('Admin') ?></a></li>
            <li data-role="list-divider"><?=$this->translate('Test pages') ?></li>
            <li data-icon="alert"><a data-ajax="false" href="<?=$this->baseUrl('service/test'                          ) ?>"><?=$this->translate('Service test') ?></a></li>
            <li data-icon="grid"><a data-ajax="false" href="<?= $this->baseUrl('service/test/answersanalogue'          ) ?>"><?=$this->translate('Answers') ?> <?=$this->translate('(analogue)') ?></a></li>
            <li data-icon="grid"><a data-ajax="false" href="<?= $this->baseUrl('service/test/answersdigital'           ) ?>"><?=$this->translate('Answers') ?> <?=$this->translate('(digital)')  ?></a></li>
            <li data-icon="clock"><a data-ajax="false" href="<?= $this->baseUrl('service/test/clocksanalogue/h/12/m/0'  ) ?>"><?=$this->translate('Clocks') ?> 12:00 <?=$this->translate('(analogue)') ?></a></li>
            <li data-icon="clock"><a data-ajax="false" href="<?= $this->baseUrl('service/test/clocksdigital/h/12/m/0'   ) ?>"><?=$this->translate('Clocks') ?> 12:00 <?=$this->translate('(digital)')  ?></a></li>
            <li data-icon="clock"><a data-ajax="false" href="<?= $this->baseUrl('service/test/feedbackanalogue/h/12/m/0') ?>"><?=$this->translate('Feedback') ?> 12:00 <?=$this->translate('(analogue)') ?></a></li>
            <li data-icon="clock"><a data-ajax="false" href="<?= $this->baseUrl('service/test/feedbackdigital/h/12/m/0' ) ?>"><?=$this->translate('Feedback') ?> 12:00 <?=$this->translate('(digital)')  ?></a></li>
            <li data-icon="grid"><a data-ajax="false" href="<?= $this->baseUrl('service/test/times/lang/nl'            ) ?>"><?=$this->translate('Time to text') ?> (NL)</a></li>
            <li data-icon="grid"><a data-ajax="false" href="<?= $this->baseUrl('service/test/times/lang/en'            ) ?>"><?=$this->translate('Time to text') ?> (EN)</a></li>
        </ul>
        <?php Ahs_Debug::showAuth(); ?>
    </div><!-- /panel -->

    <div data-role="content">
        <div class="ui-body">
            <?=$this->partial('partials/logo.phtml') ?>
            <?=$this->translate('
<p>Rika-Tika is a <strong>free-to-use</strong> evidence-based educational web application for <strong>clock learning</strong>. It’s highly adaptable to individual needs, includes empirical evidence and allows children to learn and practice both inside and outside the classroom.</p>') ?>
            <p><a href="<?=$this->baseUrl('about') ?>" class="ui-btn ui-btn-inline ui-mini ui-corner-all"  data-ajax="false"><?=$this->translate('Read more…') ?></a></p>

            <ul data-role="listview" data-inset="true" data-divider-theme="b" data-count-theme="a">
                <li data-role="list-divider"><?=$this->translate('Log in') ?></li>
<?php if ($this->role === Ahs_Acl::ROLE_USER) : ?>
                <li data-icon="power"><a data-ajax="false" href="<?=$this->baseUrl('user/logout') ?>"><?=$this->translate('Log out as') ?> <?=$this->translate('User') ?><span class="ui-li-count"><?=$this->translate('Pupil') ?> / <?=$this->translate('Client') ?></span></a></li>
<?php else : ?>
                <li data-icon="user"><a data-ajax="false" href="<?=$this->baseUrl('user') ?>"><?=$this->translate('Log in as') ?> <?=$this->translate('User') ?><span class="ui-li-count"><?=$this->translate('Pupil') ?> / <?=$this->translate('Client') ?></span></a></li>
<?php endif ?>
                <li data-icon="gear"><a data-ajax="false" href="<?=$this->baseUrl('supervisor/account/') ?>"><?=$this->translate('Log in as') ?> <?=$this->translate('Supervisor') ?><span class="ui-li-count"><?=$this->translate('Teacher') ?> / <?=$this->translate('Therapist') ?></span></a></li>
            </ul>
        </div>
    </div><!-- /content -->

<?=$this->partial('partials/footer.phtml') ?>
</section>
