<?php
/******************************************************************************
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *                        aaaAAaaa            HHHHHH                          *
 *                     aaAAAAAAAAAAaa         HHHHHH                          *
 *                    aAAAAAAAAAAAAAAa        HHHHHH                          *
 *                   aAAAAAAAAAAAAAAAAa       HHHHHH                          *
 *                   aAAAAAa    aAAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   aAAAAAa     AAAAAA                                       *
 *                    aAAAAAAaaaaAAAAAA       HHHHHH                          *
 *                     aAAAAAAAAAAAAAAA       HHHHHH                          *
 *                      aAAAAAAAAAAAAAA       HHHHHH                          *
 *                         aaAAAAAAAAAA       HHHHHH                          *
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t      *
 *                                                                            *
 *                                                                            *
 *                                MEMBER OF GHENT UNIVERSITY ASSOCIATION      *
 *                                                                            *
 *                                                                            *
 ******************************************************************************
 *
 * @author     Olivier Parent
 * @copyright  Copyright © 2011-2014 Artevelde University College Ghent
 * @license    http://www.clocklearning.org/LICENSE.txt
 */

$partialsData = array(
    'active' => 'instructions',
    'role' => $this->role,
);

?><section id="page-exercise" data-role="page" data-exercise="<?=ucfirst($this->type) ?>">
<?=$this->partial('partials/header.phtml', $partialsData) ?>

    <div data-role="content">
        <div class="ui-body">
            <?=$this->partial('partials/logo.phtml') ?>
            <div data-role="collapsible-set" data-iconpos="right">
                <div data-role="collapsible" data-collapsed="false">
                    <h2><?=$this->translate('Introduction') ?></h2>
                    <?=$this->translate('
                    <p>Rika-Tika is a preliminary <strong>demo version</strong>. Only part of the exercises are available. They are not feature complete and may contain bugs. When a new version comes online, it is likely that your settings will be lost.</p>') ?>
                </div>
                <div data-role="collapsible">
                    <h2><?=$this->translate('Roles') ?></h2>
                    <?=$this->translate('
                    <p>Any visitor has one of 4 roles:</p>
                    <ol>
                        <li><strong>Admin</strong><br>A person who maintains the Rika-Tika application.</li>
                        <li><strong>Supervisor</strong><br>A therapist or teacher. Each supervisor can change the exercise settings for his/her users.</li>
                        <li><strong>User</strong><br>A client or pupil. A supervisor has to add new user accounts.</li>
                        <li><strong>Guest</strong><br>Anyone who’s not logged in.</li>
                    </ol>') ?>
                </div>
                <div data-role="collapsible">
                    <h2><?=$this->translate('The home page') ?></h2>
                    <?=$this->translate('
                    <p>On the home page you can find links to all available demo exercise pages.</p>
                    <p>At the top left hand corner of each exercise page, you’ll see the Home button <a href="#" class="ui-btn ui-icon-home ui-btn-icon-notext ui-corner-all ui-btn-inline">Home</a></p>
                    <p>This button allows you to return to the home page of the application.</p>') ?>
                </div>
                <div data-role="collapsible">
                    <h2><?=$this->translate('The exercise pages') ?></h2>
                    <?=$this->translate('
                    <p>On each exercise page there is a <a href="#" class="ui-btn ui-btn-a ui-icon-refresh ui-btn-icon-left ui-corner-all ui-mini ui-btn-inline">New exercise</a> button you can press to get a new exercise of the same type. With the <a href="#" class="ui-btn ui-btn-b ui-icon-arrow-r ui-btn-icon-right ui-corner-all ui-mini ui-btn-inline">Exercise Type 0</a> buttons you can choose a new type of exercise.</p>') ?>
                </div>
                <div data-role="collapsible">
                    <h2><?=$this->translate('Settings by the supervisor') ?></h2>
                    <?=$this->translate('
                    <p>To change the settings for the user, go to the main page je and scroll down to <b>Log in</b> → <b>Login as Supervisor</b>. On the Supervisor page you can log in to change the settings on exercise or module level.</p>
                    <p>After you changed the settings, you can return to the home page by clicking on the Home link where you can choose a type of exercise.</p>') ?>
                </div>
            </div>
        </div>
    </div><!-- /content -->

<?=$this->partial('partials/footer.phtml') ?>
</section>
