<?php
/******************************************************************************
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *                        aaaAAaaa            HHHHHH                          *
 *                     aaAAAAAAAAAAaa         HHHHHH                          *
 *                    aAAAAAAAAAAAAAAa        HHHHHH                          *
 *                   aAAAAAAAAAAAAAAAAa       HHHHHH                          *
 *                   aAAAAAa    aAAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   aAAAAAa     AAAAAA                                       *
 *                    aAAAAAAaaaaAAAAAA       HHHHHH                          *
 *                     aAAAAAAAAAAAAAAA       HHHHHH                          *
 *                      aAAAAAAAAAAAAAA       HHHHHH                          *
 *                         aaAAAAAAAAAA       HHHHHH                          *
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t      *
 *                                                                            *
 *                                                                            *
 *                                MEMBER OF GHENT UNIVERSITY ASSOCIATION      *
 *                                                                            *
 *                                                                            *
 ******************************************************************************
 *
 * @author     Olivier Parent
 * @copyright  Copyright © 2011-2014 Artevelde University College Ghent
 * @license    http://www.clocklearning.org/LICENSE.txt
 */

$exercises = array(
    'Module clock reading',
//  'Module clock knowledge',
    ' 01' => 'Recognizing: analogue clock → 4 notations',
    ' 02' => 'Recognizing: digital clock → 4 notations',
    ' 03' => 'Recognizing: notation → 4 analogue clocks',
    ' 04' => 'Recognizing: notation → 4 digital clocks',
    ' 05' => 'Combining: 4 notations → 4 analogue clocks',
    ' 06' => 'Combining: 4 notations → 4 digital clocks',
//    ' 07' => 'Time notation: analogue clock → fill in notation',
//    ' 08' => 'Time notation: digital clock → fill in notation',
//    ' 09' => 'Time notation: analogue clock → assignment, fill in notation',
//    ' 10' => 'Time notation: digital clock → assignment, fill in notation',
    'Module setting time',
    ' 11' => 'Clock setting: notation → set analogue clock',
    ' 12' => 'Clock setting: notation → set digital clock',
//    ' 13' => 'Clock setting: notation → assignment, set analogue clock',
//    ' 14' => 'Clock setting: notation → assignment, set digital clock',
    'Module transposing clocks',
    ' 15' => 'Recognizing: analogue clock → 4 digital clocks',
    ' 16' => 'Recognizing: digital clock → 4 analogue clocks',
    ' 17' => 'Combining: 4 analogue clocks → 4 digital clocks',
    ' 18' => 'Clock setting: analogue clock → set digital clock',
    ' 19' => 'Clock setting: digital clock → set analogue clock',
//    ' 20' => 'Clock setting: analogue clock → set 2 digital clocks (12/24 hour)',
//    'Module interpreting clocks',
//    ' 21' => 'Time notation: 2 analogue clocks → fill in 2 notations, assignment',
//    ' 22' => 'Time notation: 2 digital clocks → fill in 2 notations, assignment',
//    ' 23' => 'Clock setting: analogue clock → assignment, set analogue clock later',
//    ' 24' => 'Clock setting: digital clock → assignment, set digtal clock later',
//    ' 25' => 'Order: 2 analogue clocks → which clock shows earlier?',
//    ' 26' => 'Order: 2 digital clocks → which clock shows earlier?',
//    ' 27' => 'Order: 2 analogue clocks → which clock shows later?',
//    ' 28' => 'Order: 2 digital clocks → which clock shows later?',
//    ' 29' => 'Order: 4 analogue clocks → order clocks from early to late',
//    ' 30' => 'Order: 4 digital clocks → order clocks from early to late',
//    ' 31' => 'Order: 4 analogue clocks → order clocks from late to early',
//    ' 32' => 'Order: 4 digital clocks → order clocks from late to early',
);
$partialsData = array(
    'active' => 'exercises',
    'role' => $this->role,
);

?><section id="page-exercise" data-role="page" data-exercise="<?=ucfirst($this->type) ?>">
    <?=$this->partial('partials/header.phtml', $partialsData) ?>

    <div data-role="content">
        <div class="ui-body">
            <div class="ui-body ui-body-a ui-corner-all">
                <h2><?=$this->translate('Attention') ?></h2>
                <?=$this->translate('
                <p>Below are a few demo pages to demonstrate some key features of the exercises in the upcoming web application. The exercises only exist in <strong>Dutch</strong> language at this point.</p>
                <p>Only the <strong>most recent version</strong> of <a href="#popupMenuBrowser" data-rel="popup" data-transition="flip" class="ui-btn ui-btn-b ui-icon-bars ui-btn-icon-left ui-btn-inline ui-corner-all ui-mini">your favourite browser</a> is supported for now. Exercises will not work properly in older browsers. Support for those browsers may be added at a later stage.</p>
                <p>Minimum supported display size is <strong>1024×768</strong>.</p>
                <p>Please note that these demo pages are early versions that are not fully optimized yet and should therefore not be taken as indicative of the final product.</p>') ?>
            </div>


            <ol data-role="listview" data-inset="true">
                <li data-role="list-divider" data-theme="b"><?=$this->translate('Demo exercises') ?></li>
<?php foreach ($exercises as $key => $value): ?>
<?php   if (is_int($key)): ?>
                <li data-role="list-divider"><?=$this->translate($value) ?></li>
<?php   else: ?>
                <li><a data-ajax="false" href="<?=$this->baseUrl('exercise/type' . trim($key)) ?>"><?=$this->translate($value) ?> <span class="ui-li-count"><?=$this->translate('Exercise') ?> <?=$this->translate('Type') ?><?=$key ?></span></a></li>
<?php   endif ?>
<?php endforeach ?>
            </ol>
        </div>
    </div><!-- /content -->
    <div id="popupMenuBrowser" data-role="popup">
        <ul data-role="listview" data-inset="true">
            <li data-role="divider"><?=$this->translate('Your favourite browser') ?></li>
            <li><a href="http://www.apple.com/safari/"><img src="<?=$this->baseUrl('/libraries/browser-logos/safari_256x256.png') ?>" alt="" class="ui-li-icon">Apple Safari</a></li>
            <li><a href="http://www.google.com/chrome/"><img src="<?=$this->baseUrl('/libraries/browser-logos/chrome_256x256.png') ?>" alt="" class="ui-li-icon">Google Chrome</a></li>
            <li><a href="http://www.microsoft.com/windows/internet-explorer/"><img src="<?=$this->baseUrl('/libraries/browser-logos/internet-explorer_256x256.png') ?>" alt="" class="ui-li-icon">Microsoft Internet Explorer</a></li>
            <li><a href="http://www.getfirefox.net/"><img src="<?=$this->baseUrl('/libraries/browser-logos/firefox_256x256.png') ?>" alt="" class="ui-li-icon">Mozilla Firefox</a></li>
            <li><a href="http://www.opera.com/"><img src="<?=$this->baseUrl('/libraries/browser-logos/opera_256x256.png') ?>" alt="" class="ui-li-icon">Opera</a></li>
            <li><a href="http://browsehappy.com/"><?=$this->translate('Download the latest versions') ?></a></li>
        </ul>
    </div>
<?=$this->partial('partials/footer.phtml') ?>
</section>

