<?php
/******************************************************************************
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *                        aaaAAaaa            HHHHHH                          *
 *                     aaAAAAAAAAAAaa         HHHHHH                          *
 *                    aAAAAAAAAAAAAAAa        HHHHHH                          *
 *                   aAAAAAAAAAAAAAAAAa       HHHHHH                          *
 *                   aAAAAAa    aAAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   aAAAAAa     AAAAAA                                       *
 *                    aAAAAAAaaaaAAAAAA       HHHHHH                          *
 *                     aAAAAAAAAAAAAAAA       HHHHHH                          *
 *                      aAAAAAAAAAAAAAA       HHHHHH                          *
 *                         aaAAAAAAAAAA       HHHHHH                          *
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t      *
 *                                                                            *
 *                                                                            *
 *                                MEMBER OF GHENT UNIVERSITY ASSOCIATION      *
 *                                                                            *
 *                                                                            *
 ******************************************************************************
 *
 * @author     Olivier Parent
 * @copyright  Copyright © 2011-2014 Artevelde University College Ghent
 * @license    http://www.clocklearning.org/LICENSE.txt
 */

$partialsData = array(
    'current' => ' 04',
    'mascot'  => array(
        'colour'    => $this->colour,
        'mascot'    => $this->mascot,
        'sound'     => $this->sound,
        'subtitles' => $this->subtitles,
    ),
    'module'  => 'reading',
    'role'    => $this->role,
    'urlNext' => $this->urlNext,
);

?><section id="page-exercise" class="type04" data-role="page" data-exercise="<?=ucfirst($this->type) ?>" data-demo="<?=$this->role === Ahs_Acl::ROLE_USER ? 'false' : 'true' ?>" data-feedback="<?=$this->assistance ?>">
<?=$this->partial('partials/exercise/header.phtml', $partialsData) ?>

    <div data-role="content">
        <div class="ui-grid-b ui-responsive">
            <div class="ui-block-a">
                <div id="exercise-questions">
                    <p class="legend"><?=$this->translate('It’s <b></b>.') ?></p>
                </div>
            </div><!-- /ui-block-a -->
            <div class="ui-block-b">
                <form id="exercise-answers" class="radiogroup" method="post">
                    <fieldset data-role="controlgroup">
                        <legend><?=$this->translate('Which clock shows the correct time?') ?></legend>
                        <input type="radio" name="radiochoice" id="radio-choice-1" value="1">
                        <label for="radio-choice-1">
                            <figure id="clock-answer-1" class="clock-widget digital<?=$this->colour, $this->twentyfour ?> theme-a" data-h="" data-m="">
                                <section class="clock">
                                    <div class="digit hour tens"></div>
                                    <div class="digit hour ones"></div>
                                    <div class="digit minute tens"></div>
                                    <div class="digit minute ones"></div>
                                </section>
                            </figure>
                        </label>
                        <input type="radio" name="radiochoice" id="radio-choice-2" value="2">
                        <label for="radio-choice-2">
                            <figure id="clock-answer-2" class="clock-widget digital<?=$this->colour, $this->twentyfour ?> theme-a" data-h="" data-m="">
                                <section class="clock">
                                    <div class="digit hour tens"></div>
                                    <div class="digit hour ones"></div>
                                    <div class="digit minute tens"></div>
                                    <div class="digit minute ones"></div>
                                </section>
                            </figure>
                        </label>
                        <input type="radio" name="radiochoice" id="radio-choice-3" value="3">
                        <label for="radio-choice-3">
                            <figure id="clock-answer-3" class="clock-widget digital<?=$this->colour, $this->twentyfour ?> theme-a" data-h="" data-m="">
                                <section class="clock">
                                    <div class="digit hour tens"></div>
                                    <div class="digit hour ones"></div>
                                    <div class="digit minute tens"></div>
                                    <div class="digit minute ones"></div>
                                </section>
                            </figure>
                        </label>
                        <input type="radio" name="radiochoice" id="radio-choice-4" value="4">
                        <label for="radio-choice-4">
                            <figure id="clock-answer-4" class="clock-widget digital<?=$this->colour, $this->twentyfour ?> theme-a" data-h="" data-m="">
                                <section class="clock">
                                    <div class="digit hour tens"></div>
                                    <div class="digit hour ones"></div>
                                    <div class="digit minute tens"></div>
                                    <div class="digit minute ones"></div>
                                </section>
                            </figure>
                        </label>
                    </fieldset>
                    <input type="button" name="control" value="<?=$this->translate('Check your answer') ?>" data-icon="clock" data-inline="true" data-theme="b" disabled>
                </form>
            </div><!-- /ui-block-b -->
            <aside class="ui-block-c">
<?=$this->partial('partials/exercise/mascot.phtml', $partialsData) ?>
            </aside><!-- /ui-block-c -->
        </div><!-- /ui-grid-b -->
    </div><!-- /content -->

<?=$this->partial('partials/exercise/footer.phtml', $partialsData) ?>
</section>

<?=$this->partial('partials/exercise/page_error.phtml', $partialsData) ?>

<?=$this->partial('partials/exercise/page_fail.phtml', $partialsData) ?>

<?=$this->partial('partials/exercise/page_success.phtml', $partialsData) ?>
