<?php
/******************************************************************************
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *                        aaaAAaaa            HHHHHH                          *
 *                     aaAAAAAAAAAAaa         HHHHHH                          *
 *                    aAAAAAAAAAAAAAAa        HHHHHH                          *
 *                   aAAAAAAAAAAAAAAAAa       HHHHHH                          *
 *                   aAAAAAa    aAAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   aAAAAAa     AAAAAA                                       *
 *                    aAAAAAAaaaaAAAAAA       HHHHHH                          *
 *                     aAAAAAAAAAAAAAAA       HHHHHH                          *
 *                      aAAAAAAAAAAAAAA       HHHHHH                          *
 *                         aaAAAAAAAAAA       HHHHHH                          *
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t      *
 *                                                                            *
 *                                                                            *
 *                                MEMBER OF GHENT UNIVERSITY ASSOCIATION      *
 *                                                                            *
 *                                                                            *
 ******************************************************************************
 *
 * @author     Olivier Parent
 * @copyright  Copyright © 2011-2014 Artevelde University College Ghent
 * @license    http://www.clocklearning.org/LICENSE.txt
 */

$partialsData = array(
    'current' => ' 19',
    'mascot'  => array(
        'colour'    => $this->colour,
        'mascot'    => $this->mascot,
        'sound'     => $this->sound,
        'subtitles' => $this->subtitles,
    ),
    'module'  => 'transposing',
    'role'    => $this->role,
    'urlNext' => $this->urlNext,
);

?><section id="page-exercise" class="type19" data-role="page" data-exercise="<?=ucfirst($this->type) ?>" data-demo="<?=$this->role === Ahs_Acl::ROLE_USER ? 'false' : 'true' ?>" data-feedback="<?=$this->assistance ?>">
<?=$this->partial('partials/exercise/header.phtml', $partialsData) ?>

    <div data-role="content">
        <div class="ui-grid-b ui-responsive">
            <div class="ui-block-a">
                <div id="exercise-questions">
                    <p class="legend"><?=$this->translate('Take a look at this digital clock:') ?></p>
                    <figure id="clock-question-1" class="clock-widget digital<?=$this->colour, $this->twentyfour ?> theme-a" data-h="" data-m="">
                        <section class="clock">
                            <div class="digit hour tens"></div>
                            <div class="digit hour ones"></div>
                            <div class="digit minute tens"></div>
                            <div class="digit minute ones"></div>
                        </section>
                    </figure>
                </div>
            </div><!-- /ui-block-a -->
            <div class="ui-block-b">
                <div id="exercise-answers">
                    <div class="legend"><?=$this->translate('Set the time on this analogue clock:') ?></div>
                    <figure id="clock-answer-1" class="clock-widget analogue precise<?=$this->colour, $this->twentyfour ?> theme-a" data-h="" data-m="">
                        <section class="clock">
                            <div class="hand hour"><div></div></div>
                            <div class="hand minute"><div></div></div>
                            <div class="hand cover"></div>
                        </section>
                    </figure>
                    <form id="exercise" method="post" class="<?=trim($this->colour) ?>">
                        <input type="range" name="slider-h" id="slider-h" value="12" min="1" max="12" data-highlight="true">
                        <input type="range" name="slider-m" id="slider-m"  value="0" min="0" max="59" data-highlight="true">
                        <input type="button" name="control" value="<?=$this->translate('Check your answer') ?>" data-icon="clock" data-inline="true" data-theme="b" disabled>
                    </form>
                </div>
            </div><!-- /ui-block-b -->
            <aside class="ui-block-c">
<?=$this->partial('partials/exercise/mascot.phtml', $partialsData) ?>
            </aside><!-- /ui-block-c -->
        </div><!-- /ui-grid-b -->
    </div><!-- /content -->

<?=$this->partial('partials/exercise/footer.phtml', $partialsData) ?>
</section>

<?=$this->partial('partials/exercise/page_error.phtml', $partialsData) ?>

<?=$this->partial('partials/exercise/page_fail.phtml', $partialsData) ?>

<?=$this->partial('partials/exercise/page_success.phtml', $partialsData) ?>
