<?php
/******************************************************************************
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *                        aaaAAaaa            HHHHHH                          *
 *                     aaAAAAAAAAAAaa         HHHHHH                          *
 *                    aAAAAAAAAAAAAAAa        HHHHHH                          *
 *                   aAAAAAAAAAAAAAAAAa       HHHHHH                          *
 *                   aAAAAAa    aAAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   aAAAAAa     AAAAAA                                       *
 *                    aAAAAAAaaaaAAAAAA       HHHHHH                          *
 *                     aAAAAAAAAAAAAAAA       HHHHHH                          *
 *                      aAAAAAAAAAAAAAA       HHHHHH                          *
 *                         aaAAAAAAAAAA       HHHHHH                          *
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t      *
 *                                                                            *
 *                                                                            *
 *                                MEMBER OF GHENT UNIVERSITY ASSOCIATION      *
 *                                                                            *
 *                                                                            *
 ******************************************************************************
 *
 * @author     Olivier Parent
 * @copyright  Copyright © 2011-2014 Artevelde University College Ghent
 * @license    http://www.clocklearning.org/LICENSE.txt
 */

$partialsData = array(
    'active' => 'exercises',
    'role' => $this->role,
);

?><section id="page-exercise" data-role="page" data-exercise="<?=ucfirst($this->type) ?>">
<?=$this->partial('partials/header.phtml', $partialsData) ?>

    <div data-role="content">
        <div class="ui-body">
        <?=$this->partial('partials/logo.phtml') ?>
            <div class="ui-body ui-body-a ui-corner-all">
<?php if (isset($this->exercise)): ?>
                <h3><?=$this->translate('Start the exercises') ?></h3>
                <p></p>
                <p><?=$this->translate('Go to the') ?> <a href="<?=$this->baseUrl($this->exercise) ?>" data-ajax="false" class="ui-btn ui-btn-a ui-btn-inline ui-icon-arrow-r ui-btn-icon-right ui-corner-all ui-mini"><?=$this->translate('next exercise') ?></a></p>
<?php else: ?>
                <h3><?=$this->translate('Well done!') ?></h3>
                <p><?=$this->translate('You have completed all exercises.') ?></p>
                <p><?=$this->translate('Go to the') ?> <a href="<?=$this->baseUrl('exercise') ?>" data-ajax="false" class="ui-btn ui-btn-a ui-btn-inline ui-icon-arrow-r ui-btn-icon-right ui-corner-all ui-mini"><?=$this->translate('Demo exercises') ?></a></p>
<?php endif ?>
            </div>
        </div>
    </div><!-- /content -->

<?=$this->partial('partials/footer.phtml') ?>
</section>
