<?php
$pages = array(
    ' 01' => 'exercise/type01',
    ' 02' => 'exercise/type02',
    ' 03' => 'exercise/type03',
    ' 04' => 'exercise/type04',
    ' 05' => 'exercise/type05',
    ' 06' => 'exercise/type06',
//    ' 07' => 'exercise/type07',
//    ' 08' => 'exercise/type08',
//    ' 09' => 'exercise/type09',
//    ' 10' => 'exercise/type10',
    ' 11' => 'exercise/type11',
    ' 12' => 'exercise/type12',
//    ' 13' => 'exercise/type13',
//    ' 14' => 'exercise/type14',
    ' 15' => 'exercise/type15',
    ' 16' => 'exercise/type16',
    ' 17' => 'exercise/type17',
    ' 18' => 'exercise/type18',
    ' 19' => 'exercise/type19',
//    ' 20' => 'exercise/type20',
//    ' 21' => 'exercise/type21',
//    ' 22' => 'exercise/type22',
//    ' 23' => 'exercise/type23',
//    ' 24' => 'exercise/type24',
//    ' 25' => 'exercise/type25',
//    ' 26' => 'exercise/type26',
//    ' 27' => 'exercise/type27',
//    ' 28' => 'exercise/type28',
//    ' 29' => 'exercise/type29',
//    ' 30' => 'exercise/type30',
//    ' 31' => 'exercise/type31',
//    ' 32' => 'exercise/type32',
);

$prev = false;
$next = false;
while (($page = key($pages)) !== $this->current) {
    $prev = $page;
    $pageNext = next($pages);
}
$pageNext = next($pages);
if ($pageNext) {
    $next = key($pages);
}

?>
    <footer data-role="footer" data-position="fixed" data-theme="b" class="ui-responsive">
        <nav data-role="navbar">
            <ul>
                <li>
<?php if ($this->role !== Ahs_Acl::ROLE_USER && $prev): ?>
                    <a href="<?=$this->baseUrl($pages[$prev]) ?>" data-ajax="false" class="ui-btn-icon-left ui-icon-arrow-l"><?=$this->translate('Exercise') ?> <?=$this->translate('Type') ?> <?=$prev ?></a>
<?php endif; ?>
                </li>
                <li><a href="http://www.arteveldehogeschool.be/">Copyright &#169; 2011-<?=date('Y') ?> <?=$this->translate('<b>Artevelde</b> University College Ghent') ?></a></li>
                <li>
<?php if ($this->role !== Ahs_Acl::ROLE_USER && $next): ?>
                    <a href="<?=$this->baseUrl($pages[$next]) ?>" data-ajax="false" class="ui-btn-icon-right ui-icon-arrow-r"><?=$this->translate('Exercise') ?> <?=$this->translate('Type') ?> <?=$next ?></a>
<?php endif; ?>
                </li>
            </ul>
        </nav>
    </footer>
