<?php
$pages = array(
    ' 01' => 'exercise/type01',
    ' 02' => 'exercise/type02',
    ' 03' => 'exercise/type03',
    ' 04' => 'exercise/type04',
    ' 05' => 'exercise/type05',
    ' 06' => 'exercise/type06',
//    ' 07' => 'exercise/type07',
//    ' 08' => 'exercise/type08',
//    ' 09' => 'exercise/type09',
//    ' 10' => 'exercise/type10',
    ' 11' => 'exercise/type11',
    ' 12' => 'exercise/type12',
//    ' 13' => 'exercise/type13',
//    ' 14' => 'exercise/type14',
    ' 15' => 'exercise/type15',
    ' 16' => 'exercise/type16',
    ' 17' => 'exercise/type17',
    ' 18' => 'exercise/type18',
    ' 19' => 'exercise/type19',
//    ' 20' => 'exercise/type20',
//    ' 21' => 'exercise/type21',
//    ' 22' => 'exercise/type22',
//    ' 23' => 'exercise/type23',
//    ' 24' => 'exercise/type24',
//    ' 25' => 'exercise/type25',
//    ' 26' => 'exercise/type26',
//    ' 27' => 'exercise/type27',
//    ' 28' => 'exercise/type28',
//    ' 29' => 'exercise/type29',
//    ' 30' => 'exercise/type30',
//    ' 31' => 'exercise/type31',
//    ' 32' => 'exercise/type32',
);

$modules = array(
    'knowledge'    => 'Module clock knowledge',
    'reading'      => 'Module clock reading',
    'setting'      => 'Module setting time',
    'transposing'  => 'Module transposing clocks',
    'interpreting' => 'Module interpreting clocks',
);

?><header data-role="header" data-theme="b" data-position="fixed">
    <h1><?=$this->translate('Clock learning with Rika-Tika') ?>: <?=$this->translate($modules[$this->module]) ?></h1>
    <a href="<?=$this->baseUrl('/') ?>" class="ui-btn ui-icon-home ui-btn-icon-notext ui-corner-all" data-ajax="false"><?=$this->translate('Home') ?></a>
<?php if ($this->role !== Ahs_Acl::ROLE_USER): ?>
    <a href="<?=$this->baseUrl($pages[$this->current]) ?>" class="ui-btn ui-btn-a ui-icon-refresh ui-btn-icon-left ui-corner-all ui-btn-right" style="margin-right: 4em" data-direction="reverse" data-ajax="false"><?=$this->translate('New exercise') ?></a>
<?php endif; ?>
    <a href="#popupMenuLanguage" class="ui-btn ui-corner-all ui-btn-right" data-rel="popup" data-transition="pop"><?=$this->translate('EN') ?></a>
    <div id="popupMenuLanguage" data-role="popup">
        <ul data-role="listview" data-inset="true" data-count-theme="b">
            <li><a href="<?=$this->baseUrl('user/language/to/en') ?>" data-ajax="false"><img src="<?=$this->baseUrl('/libraries/flags/flags-iso/shiny/64/GB.png') ?>" alt="" class="ui-li-icon"><span class="ui-li-count">EN</span> English</a></li>
            <li><a href="<?=$this->baseUrl('user/language/to/nl') ?>" data-ajax="false"><img src="<?=$this->baseUrl('/libraries/flags/flags-iso/shiny/64/NL.png') ?>" alt="" class="ui-li-icon"><span class="ui-li-count">NL</span> Nederlands</a></li>
        </ul>
    </div>
</header>
