                <div>
<?php if ($this->mascot['mascot']): ?>
                    <video id="mascot" width="320" height="180" poster="<?=$this->baseUrl('/assets/images/title_rika-tika.png') ?>" autobuffer="autobuffer" autoplay="autoplay" <?=$this->mascot['sound'] ?> style="background: transparent">
                        <source type="video/mp4" src="<?php Ahs_Exercise_Video::echoFile('awaking') ?>">
                        <source type="video/ogg" src="<?php Ahs_Exercise_Video::echoFile('awaking', 'theora.ogv') ?>">
                    </video>
<?php else: ?>
                    <?=$this->partial('partials/logo.phtml') ?>
<?php endif; ?>
                    <div id="dialog" class="<?=trim($this->mascot['subtitles'] . $this->mascot['colour']) ?>"></div>
                </div>
