<section id="dialog-error" data-role="dialog" data-overlay-theme="b" data-transition="pop" data-close-btn="none">
    <header data-role="header" role="banner">
        <h1 role="heading"><?=$this->translate('Error while loading') ?></h1>
    </header>
    <div data-role="content">
        <p><b></b></p>
        <p><a class="ui-btn ui-btn-b ui-btn-inline ui-corner-all ui-icon-arrow-r ui-btn-icon-right" href="<?=$this->urlNext ?>" data-ajax="false"><?=$this->translate('Try again') ?></a></p>
    </div>
</section>
