<?php
$modules = array(
    'knowledge'    => 'Module clock knowledge',
    'reading'      => 'Module clock reading',
    'setting'      => 'Module setting time',
    'transposing'  => 'Module transposing clocks',
    'interpreting' => 'Module interpreting clocks',
);

?><section id="dialog-fail" data-role="dialog" data-overlay-theme="b" data-close-btn="none">
    <header data-role="header" role="banner">
        <h1 role="heading"><?=$this->translate($modules[$this->module]) ?></h1>
    </header>
    <div data-role="content">
        <h2><?=$this->translate('Try again!') ?></h2>
        <?php if ($this->mascot): ?>
            <video width="320" height="180" poster="<?=$this->baseUrl('/assets/images/title_rika-tika.png') ?>" autobuffer="autobuffer"<?=$this->sound ?>>
                <source type="video/mp4" src="<?php Ahs_Exercise_Video::echoFile('sad[2]') ?>">
                <source type="video/ogg" src="<?php Ahs_Exercise_Video::echoFile('sad[2]', 'theora.ogv') ?>">
            </video>
        <?php endif ?>
        <audio preload="auto" autobuffer="autobuffer">
            <source src="<?php Ahs_Exercise_Audio_NL::echoFile('Dat is niet goed!') ?>">
            <source src="<?php Ahs_Exercise_Audio_NL::echoFile('Dat is niet goed!', 'ogg') ?>">
        </audio>
        <audio preload="auto" autobuffer="autobuffer">
            <source src="<?php Ahs_Exercise_Audio_NL::echoFile('Jammer.') ?>">
            <source src="<?php Ahs_Exercise_Audio_NL::echoFile('Jammer.', 'ogg') ?>">
        </audio>
        <audio preload="auto" autobuffer="autobuffer">
            <source src="<?php Ahs_Exercise_Audio_NL::echoFile('We gaan naar de volgende klok.') ?>">
            <source src="<?php Ahs_Exercise_Audio_NL::echoFile('We gaan naar de volgende klok.', 'ogg') ?>">
        </audio>
        <p><a class="ui-btn ui-btn-b ui-btn-inline ui-corner-all ui-icon-arrow-r ui-btn-icon-right" href="<?=$this->urlNext ?>" data-ajax="false"><?=$this->translate('Let’s go to the next exercise') ?></a></p>
    </div>
</section>
