<?php
$modules = array(
    'knowledge'    => 'Module clock knowledge',
    'reading'      => 'Module clock reading',
    'setting'      => 'Module setting time',
    'transposing'  => 'Module transposing clocks',
    'interpreting' => 'Module interpreting clocks',
);

?><section id="dialog-success" data-role="dialog" data-overlay-theme="b" data-close-btn="none">
    <header data-role="header" role="banner">
        <h1 role="heading"><?=$this->translate($modules[$this->module]) ?></h1>
    </header>
    <div data-role="content">
        <h2><?=$this->translate('Well done!') ?></h2>
        <p><?=$this->translate('Correctly answered within <b></b> seconds.') ?></p>
<?php if ($this->mascot): ?>
        <video width="320" height="180" poster="<?=$this->baseUrl('/assets/images/title_rika-tika.png') ?>" autobuffer="autobuffer"<?=$this->sound ?>>
            <source type="video/mp4" src="<?php Ahs_Exercise_Video::echoFile('dance') ?>">
            <source type="video/ogg" src="<?php Ahs_Exercise_Video::echoFile('dance', 'theora.ogv') ?>">
        </video>
<?php endif ?>
        <audio preload="auto" autobuffer="autobuffer">
            <source src="<?php Ahs_Exercise_Audio_NL::echoFile('Goed gedaan!') ?>">
            <source src="<?php Ahs_Exercise_Audio_NL::echoFile('Goed gedaan!', 'ogg') ?>">
        </audio>
        <audio preload="auto" autobuffer="autobuffer">
            <source src="<?php Ahs_Exercise_Audio_NL::echoFile('Op naar de volgende klok!') ?>">
            <source src="<?php Ahs_Exercise_Audio_NL::echoFile('Op naar de volgende klok!', 'ogg') ?>">
        </audio>
        <p><a class="ui-btn ui-btn-b ui-btn-inline ui-corner-all ui-icon-arrow-r ui-btn-icon-right" href="<?=$this->urlNext ?>" data-ajax="false"><?=$this->translate('Let’s go to the next exercise') ?></a></p>
    </div>
</section>
