<?=$this
    ->navigation()
    ->menu()
    ->setMinDepth(2)
    ->setMaxDepth(3)
?>

<div class="page-header">
    <h2><?=$this->translate($this->title) ?></h2>
</div>

<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><?=$this->translate('Important') ?></h4>
    <?=$this->translate('<p>You can login to the demo supervisor account with <b class="label label-default">supervisor</b> as both user name and password.</p><p>You can also register to create your own supervisor account.</p>') ?>
</div>

<?=$this->form ?>
