<?=$this
    ->navigation()
    ->menu()
    ->setMinDepth(2)
    ->setMaxDepth(3)
?>

<div class="well well-lg">
    <?=@sprintf($this->translate('<h2>Hi %s!</h2><p>You are logged in as Supervisor. You can register new Supervisors with the on the tab ‘Register’.</p><p>Logout with the button below.</p>'), $this->name) ?>
</div>

<?=$this->form ?>
