@charset "utf-8";
/******************************************************************************
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *                        aaaAAaaa            HHHHHH                          *
 *                     aaAAAAAAAAAAaa         HHHHHH                          *
 *                    aAAAAAAAAAAAAAAa        HHHHHH                          *
 *                   aAAAAAAAAAAAAAAAAa       HHHHHH                          *
 *                   aAAAAAa    aAAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   aAAAAAa     AAAAAA                                       *
 *                    aAAAAAAaaaaAAAAAA       HHHHHH                          *
 *                     aAAAAAAAAAAAAAAA       HHHHHH                          *
 *                      aAAAAAAAAAAAAAA       HHHHHH                          *
 *                         aaAAAAAAAAAA       HHHHHH                          *
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t      *
 *                                                                            *
 *                                                                            *
 *                                MEMBER OF GHENT UNIVERSITY ASSOCIATION      *
 *                                                                            *
 *                                                                            *
 ******************************************************************************
 *
 * @author     Olivier Parent
 * @copyright  Copyright © 2011-2014 Artevelde University College Ghent
 * @license    http://www.clocklearning.org/LICENSE.txt
 *
 * CSS3 vendor prefixes
 */
.animation-delay(@value) {
        -moz-animation-delay: @value;
          -o-animation-delay: @value;
     -webkit-animation-delay: @value;
             animation-delay: @value;
}
.animation-direction(@value) {
        -moz-animation-direction: @value;
          -o-animation-direction: @value;
     -webkit-animation-direction: @value;
             animation-direction: @value;
}
.animation-duration(@value) {
        -moz-animation-duration: @value;
          -o-animation-duration: @value;
     -webkit-animation-duration: @value;
             animation-duration: @value;
}
.animation-iteration-count(@value) {
        -moz-animation-iteration-count: @value;
          -o-animation-iteration-count: @value;
     -webkit-animation-iteration-count: @value;
             animation-iteration-count: @value;
}
.animation-name(@value){
        -moz-animation-name: @value;
          -o-animation-name: @value;
     -webkit-animation-name: @value;
             animation-name: @value;
}
.animation-play-state(@value) {
        -moz-animation-play-state: @value;
          -o-animation-play-state: @value;
     -webkit-animation-play-state: @value;
             animation-play-state: @value;
}
.animation-timing-function(@value) {
        -moz-animation-timing-function: @value;
          -o-animation-timing-function: @value;
     -webkit-animation-timing-function: @value;
             animation-timing-function: @value;
}
.box-shadow(@values) {
        -moz-box-shadow: @values;
          -o-box-shadow: @values;
     -webkit-box-shadow: @values;
             box-shadow: @values;
}
.transition(@values) {
        -moz-transition: @values;
         -ms-transition: @values;
          -o-transition: @values;
     -webkit-transition: @values;
             transition: @values;
}
.transform(@values) {
        -moz-transform: @values;
         -ms-transform: @values;
          -o-transform: @values;
     -webkit-transform: @values;
             transform: @values;
}

@colour-ahs-orange   : #E90;
@colour-ahs-green    : #BC0;
@colour-ahs-fuchsia  : #C07;
@colour-ahs-blue     : #0AC;
@colour-ahs-lightgrey: #DDD;
@colour-ahs-midgrey  : #AAA;
@colour-ahs-darkgrey : #777;
@colour-ahs-black    : #000;

@colour-rt-magenta: rgb(180,   0,  90);
@colour-rt-cyan   : rgb(  1, 196, 196);
@colour-rt-orange : rgb(255, 134,   6);
@colour-rt-blue   : rgb(  1, 115, 171);

@colour-error             : hsl(  0, 30%, 50%);
@colour-error-background  : hsl(  0, 50%, 90%);
@colour-info              : hsl(240, 30%, 50%);
@colour-info-background   : hsl(240, 50%, 90%);
@colour-success           : hsl(120, 30%, 50%);
@colour-success-background: hsl(120, 50%, 90%);

@import url("http://fonts.googleapis.com/css?family=Amaranth:400italic");

.rt {
    font-family: "Amaranth";
    font-style: italic;
    font-weight: 400;
    letter-spacing: .15em;
    -webkit-font-kerning: auto;
    &.rt_magenta,
    .rt_magenta {
        color: @colour-rt-magenta;
        text-shadow:
            0 1px 0 darken(@colour-rt-magenta, 10%),
            0 2px 0 darken(@colour-rt-magenta, 20%),
            0 3px 0 darken(@colour-rt-magenta, 30%) !important;
    }
    .rt_cyan {
        color: @colour-rt-cyan;
        text-shadow:
            0 1px 0 darken(@colour-rt-cyan, 10%),
            0 2px 0 darken(@colour-rt-cyan, 20%),
            0 3px 0 darken(@colour-rt-cyan, 30%) !important;
    }
    .rt_orange {
        color: @colour-rt-orange;
        text-shadow:
            0 1px 0 darken(@colour-rt-orange, 10%),
            0 2px 0 darken(@colour-rt-orange, 20%),
            0 3px 0 darken(@colour-rt-orange, 30%) !important;
    }
    .rt_blue {
        color: @colour-rt-blue;
        text-shadow:
            0 1px 0 darken(@colour-rt-blue, 10%),
            0 2px 0 darken(@colour-rt-blue, 20%),
            0 3px 0 darken(@colour-rt-blue, 30%) !important;
    }
}
