<?=$this->doctype(), PHP_EOL ?>
<html>
<head>
<?=$this->headMeta()  , PHP_EOL
  ,$this->headTitle() , PHP_EOL
  ,$this->headLink()  , PHP_EOL
  ,$this->headScript(), PHP_EOL
?>
</head>
<body data-base-url="<?=$this->baseUrl() ?>">
<div id="main">
    <div class="container">
<?=$this->layout()->content, PHP_EOL ?>
    </div>
</div>
<footer id="footer">
    <div class="container">
        <p class="copy">Copyright &#169; 2011-<?=date('Y') ?> <a href="http://www.arteveldehogeschool.be/"><?=$this->translate('<b>Artevelde</b> University College Ghent') ?></a></p>
    </div>
</footer>
<?=$this->inlineScript(), PHP_EOL ?>
</body>
</html>
