<?=$this->doctype(), PHP_EOL ?>
<html lang="<?=Zend_Registry::get('Zend_Locale')->getLanguage() ?>"<?php /*manifest="cache.manifest"*/ ?>>
<head>
<?=$this->headMeta()  , PHP_EOL
  ,$this->headTitle() , PHP_EOL
  ,$this->headLink()  , PHP_EOL
  ,$this->headScript(), PHP_EOL
?>
</head>
<body data-base-url="<?=$this->baseUrl() ?>">
<?=$this->layout()->content, PHP_EOL
  ,$this->inlineScript()   , PHP_EOL
?>
</body>
</html>