@charset "utf-8";
/******************************************************************************
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *                        aaaAAaaa            HHHHHH                          *
 *                     aaAAAAAAAAAAaa         HHHHHH                          *
 *                    aAAAAAAAAAAAAAAa        HHHHHH                          *
 *                   aAAAAAAAAAAAAAAAAa       HHHHHH                          *
 *                   aAAAAAa    aAAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   aAAAAAa     AAAAAA                                       *
 *                    aAAAAAAaaaaAAAAAA       HHHHHH                          *
 *                     aAAAAAAAAAAAAAAA       HHHHHH                          *
 *                      aAAAAAAAAAAAAAA       HHHHHH                          *
 *                         aaAAAAAAAAAA       HHHHHH                          *
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t      *
 *                                                                            *
 *                                                                            *
 *                                MEMBER OF GHENT UNIVERSITY ASSOCIATION      *
 *                                                                            *
 *                                                                            *
 ******************************************************************************
 *
 * @author     Olivier Parent
 * @copyright  Copyright © 2011-2014 Artevelde University College Ghent
 * @license    http://www.clocklearning.org/LICENSE.txt
 */

/*** CLOCK-WIDGET ***/
.clock-widget {
    background-color: #CCC;
    display: inline-block;
    font-size: 16px;
    position: relative;
    &.analogue {
        border-radius: 50%;
    }
    &.small {
        font-size: 8px;
    }
}
.clock-widget.colour.analogue .hour > div {
    background-color: @colour-hand-A;
}
.clock-widget.colour.analogue .minute > div,
.clock-widget.colour .clock .hand.cover {
    background-color: @colour-hand-B;
}
.clock-widget.colour.colour-switch.analogue .hour > div {
    background-color: @colour-hand-B;
}
.clock-widget.colour.colour-switch.analogue .minute > div,
.clock-widget.colour.colour-switch .clock .hand.cover {
    background-color: @colour-hand-A;
}
.clock-widget .hour > div,
.clock-widget .minute > div,
.clock-widget .clock .hand.cover {
    background-color: @colour-hand;
}
.clock-widget.analogue .control.active > div {
    background-color: yellow;
    .transition(all .1s ease-in-out);
}
.clock {
    background-color: #FFF;
    overflow: hidden;
    position: relative;
}
.analogue .clock {
    background-size: contain;
    border-radius: 50%;
    .size(12.5em); /* 200px; */
}
.analogue.controls .clock {
    margin: 4.688em; /* 75px */
}

.clock .controls,
.clock .hand {
    position: absolute;
    top: 0;
    .size(100%);
    .gpu;
    .transition(all .333s ease-in-out);
}
.hand-large {
    height: 45%;
    width: 2%;
	margin-top: 10%;
}
.hand-small {
	height: 35%;
	margin-top: 20%;
    width: 3%;
}
.analogue .clock .hand > div {
    background-color: @colour-hand;
    border-radius: 50%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    margin: auto;
    width: 2%;
    .box-shadow(0 0 .188em .063em rgba(0, 0, 0, .2));
    .hand-large;
}
.analogue .clock .hand.hour > div {
    .hand-small;
}
.analogue .clock .hand.animate > div {
    .animation-direction(alternate);
    .animation-duration(.3s);
    /*
    .animation-iteration-count(6);
    */
    .animation-iteration-count(infinite);
    .animation-name(highlightMinute);
    .animation-play-state(running);
    .animation-timing-function(linear);
}
.analogue.colour .clock .hand.animate > div {
    .animation-name(highlightMinuteColourB);
}
.analogue.colour.colour-switch .clock .hand.animate > div {
    .animation-name(highlightMinuteColourA);
}
.analogue .clock .hand.animate.hour > div {
    .animation-name(highlightHour);
}
.analogue.colour .clock .hand.animate.hour > div {
    .animation-name(highlightHourColourA);
}
.analogue.colour.colour-switch .clock .hand.animate.hour > div {
    .animation-name(highlightHourColourB);
}
/*
.analogue .clock .hand.animate.minute > div {
    .animation-delay(3s);
}
*/
@-moz-keyframes highlightHour {
    from {
        background-color: @colour-hand;
        .hand-small;
    } to {
        background-color: lighten(@colour-hand, @colour-hand-highlight);
        .hand-large;
    }
}
@-webkit-keyframes highlightHour {
    from {
        background-color: @colour-hand;
        .hand-small;
    } to {
        background-color: lighten(@colour-hand, @colour-hand-highlight);
        .hand-large;
    }
}
@-moz-keyframes highlightHourColourA {
    from {
        background-color: @colour-hand-A;
        .hand-small;
    } to {
        background-color: lighten(@colour-hand-A, @colour-hand-highlight);
        .hand-large;
    }
}
@-webkit-keyframes highlightHourColourA {
    from {
        background-color: @colour-hand-A;
        .hand-small;
    } to {
        background-color: lighten(@colour-hand-A, @colour-hand-highlight);
        .hand-large;
    }
}
@-moz-keyframes highlightHourColourB {
    from {
        background-color: @colour-hand-B;
        .hand-small;
    } to {
        background-color: lighten(@colour-hand-B, @colour-hand-highlight);
        .hand-large;
    }
}
@-webkit-keyframes highlightHourColourB {
    from {
        background-color: @colour-hand-B;
        .hand-small;
    } to {
        background-color: lighten(@colour-hand-B, @colour-hand-highlight);
        .hand-large;
    }
}
@-moz-keyframes highlightMinute {
    from {
        background-color: @colour-hand;
        .hand-large;
    } to {
        background-color: lighten(@colour-hand, @colour-hand-highlight);
        .hand-small;
    }
}
@-webkit-keyframes highlightMinute {
    from {
        background-color: @colour-hand;
        .hand-large;
    } to {
        background-color: lighten(@colour-hand, @colour-hand-highlight);
        .hand-small;
    }
}
@-moz-keyframes highlightMinuteColourB {
    from {
        background-color: @colour-hand-B;
        .hand-large;
    } to {
        background-color: lighten(@colour-hand-B, @colour-hand-highlight);
        .hand-small;
    }
}
@-webkit-keyframes highlightMinuteColourB {
    from {
        background-color: @colour-hand-B;
        .hand-large;
    } to {
        background-color: lighten(@colour-hand-B, @colour-hand-highlight);
        .hand-small;
    }
}
@-moz-keyframes highlightMinuteColourA {
    from {
        background-color: @colour-hand-A;
        .hand-large;
    } to {
        background-color: lighten(@colour-hand-A, @colour-hand-highlight);
        .hand-small;
    }
}
@-webkit-keyframes highlightMinuteColourA {
    from {
        background-color: @colour-hand-A;
        .hand-large;
    } to {
        background-color: lighten(@colour-hand-A, @colour-hand-highlight);
        .hand-small;
    }
}
.analogue {
    .clock {
        .hand {
            &.cover {
                border-radius: 50%;
                left: 48%;
                top: 48%;
                .size(4%);
            }
        }
    }
    .controls {
        position: absolute;
        .size(100%);
        top: 0;
        .control {
        border-radius: 50%;
        height: 56%;
        left: 45%;
        position: absolute;
        top: 22%;
        width: 10%;
    }
        .control > div {
            border-radius: 50%;
            border-bottom-right-radius: 0;
            margin: auto;
            position: relative;
            top: -2.438em; /* -39px */
            .gpu;
            .size(1.875em); /* 30px */
            .transform(rotate(45deg));
        }
    }
}
.analogue .controls .control.hour > div {
    top: -4.75em; /* -76px */
}
/*** CLOCK-WIDGET STYLING ***/
/*   analogue               */
.clock-widget {
    &.analogue {
        &.theme-a {
            .clock {
                background-image: url("../../images/clock/analogue/face_12-hours.png");
            }
            &.twentyfour {
                .clock {
                    background-image: url("../../images/clock/analogue/face_24-hours.png");
                }
            }
        }
    }
}
