@charset "utf-8";
/******************************************************************************
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *                        aaaAAaaa            HHHHHH                          *
 *                     aaAAAAAAAAAAaa         HHHHHH                          *
 *                    aAAAAAAAAAAAAAAa        HHHHHH                          *
 *                   aAAAAAAAAAAAAAAAAa       HHHHHH                          *
 *                   aAAAAAa    aAAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   aAAAAAa     AAAAAA                                       *
 *                    aAAAAAAaaaaAAAAAA       HHHHHH                          *
 *                     aAAAAAAAAAAAAAAA       HHHHHH                          *
 *                      aAAAAAAAAAAAAAA       HHHHHH                          *
 *                         aaAAAAAAAAAA       HHHHHH                          *
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t      *
 *                                                                            *
 *                                                                            *
 *                                MEMBER OF GHENT UNIVERSITY ASSOCIATION      *
 *                                                                            *
 *                                                                            *
 ******************************************************************************
 *
 * @author     Olivier Parent
 * @copyright  Copyright © 2011-2014 Artevelde University College Ghent
 * @license    http://www.clocklearning.org/LICENSE.txt
 */
.clock-widget.colour.digital .hour {
    background-color: @colour-hand-A;
}
.clock-widget.colour.digital .minute {
    background-color: @colour-hand-B;
}
.clock-widget.colour.colour-switch.digital .hour {
    background-color: @colour-hand-B;
}
.clock-widget.colour.colour-switch.digital .minute {
    background-color: @colour-hand-A;
}
.clock-widget.digital .hour,
.clock-widget.digital .minute {
    background-color: @colour-hand;
}

.clock-widget {
    &.digital {
        display: inline-block;
        max-height: 100%;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        width: 75%;
        &.theme-a {
            .digit {
                background-image: url("../../images/clock/digital/face_1.png");
                background-size: 500% 200%;
                &:nth-child(2) {
                    margin-right: 8%;
                }
            }
        }
        .clock {
            background: #FFF url("../../images/clock/digital/separator_12-hours.png") center no-repeat;
            background-size:4% 100%;
            .digit {
                background-position: 100% -100%;
                &.num-1 {
                    background-position: 0 0;
                }
                &.num-2 {
                    background-position: 25% 0;
                }
                &.num-3 {
                    background-position: 50% 0;
                }
                &.num-4 {
                    background-position: 75% 0;
                }
                &.num-5 {
                    background-position: 100% 0;
                }
                &.num-6 {
                    background-position: 0 -100%;
                }
                &.num-7 {
                    background-position: 25% -100%;
                }
                &.num-8 {
                    background-position: 50% -100%;
                }
                &.num-9 {
                    background-position: 75% -100%;
                }
            }
        }
    }
    &.digital:after {
        content: "";
        display: block;
        margin-top: 33%; /* height is 33% of element width */
    }
    &.digital > section {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        .digit {
            height: 100%;
            float: left;
            width: 23%;
        }
    }
    &.twentyfour {
        .clock {
          background-image: url("../../images/clock/digital/separator_24-hours.png");
        }
    }
}
