<?php
/******************************************************************************
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *                        aaaAAaaa            HHHHHH                          *
 *                     aaAAAAAAAAAAaa         HHHHHH                          *
 *                    aAAAAAAAAAAAAAAa        HHHHHH                          *
 *                   aAAAAAAAAAAAAAAAAa       HHHHHH                          *
 *                   aAAAAAa    aAAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   aAAAAAa     AAAAAA                                       *
 *                    aAAAAAAaaaaAAAAAA       HHHHHH                          *
 *                     aAAAAAAAAAAAAAAA       HHHHHH                          *
 *                      aAAAAAAAAAAAAAA       HHHHHH                          *
 *                         aaAAAAAAAAAA       HHHHHH                          *
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t      *
 *                                                                            *
 *                                                                            *
 *                                MEMBER OF GHENT UNIVERSITY ASSOCIATION      *
 *                                                                            *
 *                                                                            *
 ******************************************************************************
 *
 * @author     Olivier Parent
 * @copyright  Copyright © 2011-2014 Artevelde University College Ghent
 * @license    http://www.clocklearning.org/LICENSE.txt
 */
?><section id="page-error" data-role="page">
    <header data-role="header" data-position="fixed">
        <h1><?=$this->translate('Clock learning with Rika-Tika'); ?>: <?=$this->translate('An error occurred') ?></h1>
        <a href="<?=$this->baseUrl('/'); ?>" ><?=$this->translate('Home'); ?></a>
    </header>
    <div data-role="content">
        <h2><?=isset($this->exception) ? $this->exception->getCode() : 'Ui' ?> - <?=@$this->message ?></h2>

<?php if (isset($this->exception)): ?>
        <div data-role="collapsible" data-collapsed="false">
            <h3><?=$this->translate('Exception information') ?></h3>
            <p><strong><?=$this->translate('Message') ?></strong> <?=$this->exception->getMessage() ?></p>
            <p><strong><?=$this->translate('File') ?></strong> <?=$this->exception->getFile()    ?></p>
            <p><strong><?=$this->translate('Line number') ?></strong> <?=$this->exception->getLine()    ?></p>
        </div>

        <div data-role="collapsible">
            <h3><?=$this->translate('Stack trace') ?></h3>
            <pre><?=$this->exception->getTraceAsString() ?>
            </pre>
        </div>

        <div data-role="collapsible">
            <h3><?=$this->translate('Request Parameters') ?></h3>
            <pre><?=$this->escape(var_export($this->request->getParams(), true)) ?>
            </pre>
        </div>
<?php endif ?>
    </div><!-- /content -->
<?=$this->partial('partials/footer.phtml') ?>
</section>
