<?php
/******************************************************************************
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *                        aaaAAaaa            HHHHHH                          *
 *                     aaAAAAAAAAAAaa         HHHHHH                          *
 *                    aAAAAAAAAAAAAAAa        HHHHHH                          *
 *                   aAAAAAAAAAAAAAAAAa       HHHHHH                          *
 *                   aAAAAAa    aAAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   aAAAAAa     AAAAAA                                       *
 *                    aAAAAAAaaaaAAAAAA       HHHHHH                          *
 *                     aAAAAAAAAAAAAAAA       HHHHHH                          *
 *                      aAAAAAAAAAAAAAA       HHHHHH                          *
 *                         aaAAAAAAAAAA       HHHHHH                          *
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t      *
 *                                                                            *
 *                                                                            *
 *                                MEMBER OF GHENT UNIVERSITY ASSOCIATION      *
 *                                                                            *
 *                                                                            *
 ******************************************************************************
 *
 * @author     Olivier Parent
 * @copyright  Copyright © 2011-2014 Artevelde University College Ghent
 * @license    http://www.clocklearning.org/LICENSE.txt
 */

$partialsData = array(
    'active' => 'about',
    'role' => $this->role,
);

?><section id="page-exercise" data-role="page" data-exercise="<?=ucfirst($this->type) ?>">
<?=$this->partial('partials/header.phtml', $partialsData) ?>

    <div data-role="content">
        <div class="ui-body">
            <?=$this->partial('partials/logo.phtml') ?>
            <div data-role="collapsible-set" data-iconpos="right">
                <div data-role="collapsible" data-collapsed="false">
                    <h1><?=$this->translate('About') ?></h1>
                    <?=$this->translate('
<p>Rika-Tika is a <strong>free-to-use</strong> evidence-based educational web application for <strong>clock learning</strong>. It’s highly adaptable to individual needs, includes empirical evidence and allows children to learn and practice both inside and outside the classroom.</p>') ?>
                    <?=$this->translate('
<p>Empirical evidence indicates that clock reading involves complex cognitive processes, teachers lack profound knowledge and strategies to overcome children’s difficulties and that there’s a lack of didactical materials to address clock reading through multimedia.</p>
<p>Based on this ascertainment, an educational web application for clock reading is being jointly developed by the department of <strong>Speech Therapy and Audiology</strong> and the department of <strong>Graphic and Digital Media</strong> of <a href="http://www.arteveldehs.be/emc.asp?pageId=1857">Artevelde University College Ghent</a>.</p>
<p>The many user settings make sure every user can work at their individual level. Teachers can easily differentiate class groups and adjust settings for subgroups.</p>
<p>Answers for multiple choice exercises are based on scientific research of most frequent mistakes children make when reading clock.</p>
<p>Rika-Tika, the mascot, is guiding the user throughout the web application. She assists the user with feedback. Up to three levels of assistance are provided when a wrong answers is given: verbal/textual, visual, and finally, modelling.</p>
<p>This application is work in progress. Not all modules are developed. Planned improvements and additions include a detailed error analysis by the application.
<p>This <strong>open source</strong> web application is <strong>free</strong> to use. We’re looking for volunteers willing to help us complete all types of exercises. We’re also looking for help with translating the application into your language, reporting bugs and errors, suggest improvements, help with programming and styling. If you’re interested, please contact us via this <a href="contact">contact form</a>.</p>') ?>

                </div>
                <div data-role="collapsible">
                    <h2><?=$this->translate('Collaborators') ?></h2>
                    <h3><?=$this->translate('Project team') ?></h3>
                    <ul>
                        <li><strong>Veerle Van Vooren</strong>, <?=$this->translate('Project Leader') ?> (<?=$this->translate('Artevelde University College Ghent') ?>, <?=$this->translate('Department of Speech Therapy and Audiology') ?>)</li>
                        <li><strong>Olivier Parent</strong>, <?=$this->translate('Web Developer') ?> (<?=$this->translate('Artevelde University College Ghent') ?>, <?=$this->translate('Department of Graphic and Digital Media') ?>)</li>
                        <li><strong>Tom Neuttiens</strong>, <?=$this->translate('3D Animator/Graphic Designer') ?> (<?=$this->translate('Artevelde University College Ghent') ?>, <?=$this->translate('Department of Graphic and Digital Media') ?>)</li>
                    </ul>

                    <ul>
                        <li><strong>Charlotte Staelens</strong>, <?=$this->translate('Student') ?></li>
                        <li><strong>Eline Brys</strong>, <?=$this->translate('Student') ?></li>
                        <li><strong>Melissa Moens</strong>, <?=$this->translate('Student') ?></li>
                        <li><strong>Sofie Bauwens</strong>, <?=$this->translate('Student') ?></li>
                        <li><strong>Stephanie Moens</strong>, <?=$this->translate('Student') ?></li>
                    </ul>

                    <h3><?=$this->translate('External partners') ?></h3>
                    <ul>
                        <li><strong>Elise Burny</strong> (<?=$this->translate('Ghent University') ?>)</li>
                        <li><strong>Annemie Desoete</strong> (<?=$this->translate('Ghent University') ?>/<?=$this->translate('Artevelde University College Ghent') ?>)</li>
                    </ul>

                    <h3><?=$this->translate('With the cooperation of') ?> <?=$this->translate('Artevelde University College Ghent') ?></h3>
                    <h4><?=$this->translate('Office for Educational Development and Internationalisation') ?></h4>
                    <ul>
                        <li><strong>Pacal Verhoest</strong>, <?=$this->translate('Director') ?></li>
                        <li><strong>Marleen Verbeke</strong>, <?=$this->translate('Applied Research Projects Coordinator') ?></li>
                        <li><strong>Michaela Vanloo</strong>, <?=$this->translate('Legal Advisor') ?></li>
                    </ul>

                    <h4><?=$this->translate('Department of Speech Therapy and Audiology') ?></h4>
                    <ul>
                        <li><strong>Jeroen Martens</strong>, <?=$this->translate('Dean') ?></li>
                        <li><strong>Josette Stas</strong></li>
                    </ul>

                    <h4><?=$this->translate('Department of Graphic and Digital Media') ?></h4>
                    <ul>
                        <li><strong>Luk Bouters</strong>, <?=$this->translate('Dean') ?></li>
                    </ul>

                    <h3><?=$this->translate('Special thanks to') ?></h3>
                    <ul>
                        <li><strong>Eva Vande Populiere</strong></li>
                        <li><strong>Melanie Piers</strong></li>
                        <li><strong>Philippe De Pauw - Waterschoot</strong></li>
                    </ul>
                    <p><?=$this->translate('And the many supporting friends, family and colleagues.') ?></p>
                </div>
            </div>
        </div>
    </div><!-- /content -->

<?=$this->partial('partials/footer.phtml') ?>
</section>
