<?php
/******************************************************************************
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *                        aaaAAaaa            HHHHHH                          *
 *                     aaAAAAAAAAAAaa         HHHHHH                          *
 *                    aAAAAAAAAAAAAAAa        HHHHHH                          *
 *                   aAAAAAAAAAAAAAAAAa       HHHHHH                          *
 *                   aAAAAAa    aAAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   aAAAAAa     AAAAAA                                       *
 *                    aAAAAAAaaaaAAAAAA       HHHHHH                          *
 *                     aAAAAAAAAAAAAAAA       HHHHHH                          *
 *                      aAAAAAAAAAAAAAA       HHHHHH                          *
 *                         aaAAAAAAAAAA       HHHHHH                          *
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t      *
 *                                                                            *
 *                                                                            *
 *                                MEMBER OF GHENT UNIVERSITY ASSOCIATION      *
 *                                                                            *
 *                                                                            *
 ******************************************************************************
 *
 * @author     Olivier Parent
 * @copyright  Copyright © 2011-2014 Artevelde University College Ghent
 * @license    http://www.clocklearning.org/LICENSE.txt
 */

$partialsData = array(
    'active' => 'licenses',
    'role' => $this->role,
);

?><section id="page-exercise" data-role="page" data-exercise="<?=ucfirst($this->type) ?>">
<?=$this->partial('partials/header.phtml', $partialsData) ?>

    <div data-role="content">
        <div class="ui-body">
            <?=$this->partial('partials/logo.phtml') ?>
            <div data-role="collapsible-set" data-iconpos="right">
                <div data-role="collapsible" data-collapsed="false">
                    <h2><?=$this->translate('Source code') ?></h2>
                    <p><?=$this->translate('The source code of this open source application is released under the <a rel="license" href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.') ?></p>
                    <blockquote class="license">******************************************************************************<br />
*                                                                            *<br />
*                                                                            *<br />
*                                                                            *<br />
*                        aaaAAaaa            HHHHHH                          *<br />
*                     aaAAAAAAAAAAaa         HHHHHH                          *<br />
*                    aAAAAAAAAAAAAAAa        HHHHHH                          *<br />
*                   aAAAAAAAAAAAAAAAAa       HHHHHH                          *<br />
*                   aAAAAAa    aAAAAAA                                       *<br />
*                   AAAAAa      AAAAAA                                       *<br />
*                   AAAAAa      AAAAAA                                       *<br />
*                   aAAAAAa     AAAAAA                                       *<br />
*                    aAAAAAAaaaaAAAAAA       HHHHHH                          *<br />
*                     aAAAAAAAAAAAAAAA       HHHHHH                          *<br />
*                      aAAAAAAAAAAAAAA       HHHHHH                          *<br />
*                         aaAAAAAAAAAA       HHHHHH                          *<br />
*                                                                            *<br />
*                                                                            *<br />
*                                                                            *<br />
*      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t      *<br />
*                                                                            *<br />
*                                                                            *<br />
*                                MEMBER OF GHENT UNIVERSITY ASSOCIATION      *<br />
*                                                                            *<br />
*                                                                            *<br />
******************************************************************************<br />
<br />
Copyright 2011-2014 Artevelde University College Ghent<br />
<br />
Licensed under the Apache License, Version 2.0 (the "License");<br />
you may not use this file except in compliance with the License.<br />
You may obtain a copy of the License at<br />
<br />
  http://www.apache.org/licenses/LICENSE-2.0<br />
<br />
Unless required by applicable law or agreed to in writing, software<br />
distributed under the License is distributed on an "AS IS" BASIS,<br />
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.<br />
See the License for the specific language governing permissions and<br />
limitations under the License.<?php //echo Ahs_Utility::scrape('http://www.klokleren.be/LICENSE.txt') ?></blockquote>
                </div>
                <div data-role="collapsible">
                    <h2><?=$this->translate('Content') ?></h2>
                    <p><?=$this->translate('Content such as exercises, graphics, animation and audiovisual assets are licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed">Creative Commons Attribution-ShareAlike 3.0 Unported license</a>.') ?></p>
                    <p><?=$this->translate('<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"></a>') ?></p>
                </div>
                <div data-role="collapsible">
                    <h2><?=$this->translate('Technical specifications') ?></h2>

                    <h3><?=$this->translate('Front-end technologies') ?></h3>
                    <ul data-role="listview" data-filter="true" data-filter-placeholder="<?=$this->translate('Front-end technologies') ?>&hellip;" data-inset="true">
                        <li><a href="http://www.w3.org/TR/html5/">HTML<span class="ui-li-count">5</span></a></li>
                        <li><a href="http://www.w3.org/TR/CSS/#css3/">CSS<span class="ui-li-count">Level 3</span></a></li>
                        <li><a href="http://necolas.github.com/normalize.css/">Normalize <span class="ui-li-count">2.1.1</span></a></li>
                        <li><a href="https://developer.mozilla.org/en-US/docs/JavaScript">JavaScript</a></li>
                        <li><a href="http://www.json.org/">JSON</a></li>
                        <li><a href="http://jquery.com/">jQuery <span class="ui-li-count">2.1.1</span></a></li>
                        <li><a href="http://jquerymobile.com/">jQuery Mobile <span class="ui-li-count">1.4.2</span></a></li>
                        <li><a href="http://modernizr.com/">Modernizr <span class="ui-li-count">2.7.1</span></a></li>
                        <li><a href="http://requirejs.org/">RequireJS <span class="ui-li-count">2.1.11</span></a> </li>
                        <li><a href="http://lesscss.org/">LESS <span class="ui-li-count">1.7.0</span></a></li>
                        <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap <span class="ui-li-count">3.1.1</span></a></li>
                        <li><a href="http://knockoutjs.com/">Knockout <span class="ui-li-count">3.1.0</span></a></li>
                    </ul>

                    <h3><?=$this->translate('Back-end technologies') ?></h3>
                    <ul data-role="listview" data-filter="true" data-filter-placeholder="<?=$this->translate('Back-end technologies') ?>&hellip;" data-inset="true">
                        <li><a href="http://httpd.apache.org/">Apache HTTP Server<span class="ui-li-count">2.4</span></a></li>
                        <li><a href="http://www.php.net/">PHP<span class="ui-li-count">5.3 | 5.4</span></a></li>
                        <li><a href="http://framework.zend.com/downloads/latest#ZF1">Zend Framework<span class="ui-li-count">1.12.6</span></a></li>
                        <li><a href="https://github.com/jokkedk/ZFDebug">ZFDebug</a></li>
                        <li><a href="http://www.mysql.com/products/community/">MySQL<span class="ui-li-count">5.1 | 5.5</span></a></li>
                        <li><a href="http://www.w3.org/XML/">XML<span class="ui-li-count">1.0</span></a>
                        <li><a href="http://docs.oasis-open.org/xliff/xliff-core/xliff-core.html">XLIFF<span class="ui-li-count">1.2</span></a></li>
                        <li><a href="http://www.yaml.org/">YAML</a></li>
                    </ul>

                    <h3><?=$this->translate('Software applied') ?></h3>
                    <ul data-role="listview" data-filter="true" data-filter-placeholder="<?=$this->translate('Software applied') ?>&hellip;" data-inset="true">
                        <li><a href="http://www.infragistics.com/products/indigo-studio/">Indigo Studio<span class="ui-li-count">Lite</span></a></li>
                        <li><a href="http://netbeans.org/">NetBeans IDE<span class="ui-li-count">PHP Download Bundle 8.0</span></a></li>
                        <li><a href="http://www.mysql.com/downloads/workbench/">MySQL Workbench<span class="ui-li-count">6.1.4</span></a></li>
                        <li><a href="http://www.sequelpro.com/">Sequel Pro<span class="ui-li-count">1.0.2</span></a></li>
                        <li><a href="http://brackets.io/">Brackets<span class="ui-li-count">0.38.0</span></a></li>
                        <li><a href="http://www.sublimetext.com/">Sublime Text</a></li>
                        <li><a href="http://twitter.github.com/bower/">Twitter Bower</a></li>
                        <li><a href="http://www.iterm2.com/">iTerm2</a></li>
                        <li><a href="http://bitnami.com/stack/mamp/">BitNami MAMP Stack</a></li>
                        <li><a href="https://www.lightwave3d.com/">NewTek LightWave</a></li>
                        <li><a href="http://www.blender.org/">Blender</a></li>
                        <li><a href="http://translate.sourceforge.net/wiki/virtaal/index">Virtaal</a></li>
                        <li><a href="http://www.adobe.com/products/creativecloud.html">Adobe Creative Cloud</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- /content -->

<?=$this->partial('partials/footer.phtml') ?>
</section>
