<?php
/******************************************************************************
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *                        aaaAAaaa            HHHHHH                          *
 *                     aaAAAAAAAAAAaa         HHHHHH                          *
 *                    aAAAAAAAAAAAAAAa        HHHHHH                          *
 *                   aAAAAAAAAAAAAAAAAa       HHHHHH                          *
 *                   aAAAAAa    aAAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   aAAAAAa     AAAAAA                                       *
 *                    aAAAAAAaaaaAAAAAA       HHHHHH                          *
 *                     aAAAAAAAAAAAAAAA       HHHHHH                          *
 *                      aAAAAAAAAAAAAAA       HHHHHH                          *
 *                         aaAAAAAAAAAA       HHHHHH                          *
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t      *
 *                                                                            *
 *                                                                            *
 *                                MEMBER OF GHENT UNIVERSITY ASSOCIATION      *
 *                                                                            *
 *                                                                            *
 ******************************************************************************
 *
 * @author     Olivier Parent
 * @copyright  Copyright © 2011-2014 Artevelde University College Ghent
 * @license    http://www.clocklearning.org/LICENSE.txt
 */

$partialsData = array(
    'active' => 'login',
    'role' => $this->role,
);

?><section data-role="page">
<?=$this->partial('partials/header.phtml', $partialsData) ?>

    <div data-role="content">
        <div class="ui-body">
            <?=$this->partial('partials/logo.phtml') ?>
            <div class="ui-grid-a ui-responsive">
                <div class="ui-block-a">
                    <div class="ui-body ui-body-a ui-corner-all">
                        <h3><?=$this->translate('Attention') ?></h3>
                        <?=$this->translate('<p>You can login to the demo user account with <b class="label">user</b> as both user name and password.</p><p>Only a supervisor can create new user accounts.</p>') ?>
                        <p><a href="<?=$this->baseUrl('/supervisor/') ?>" data-ajax="false" class="ui-btn ui-btn-a ui-btn-inline ui-icon-arrow-r ui-btn-icon-right ui-corner-all ui-mini"><?=$this->translate('Log in as') ?> <?=$this->translate('Supervisor') ?></a></p>
                    </div>
                </div>
                <div class="ui-block-b">
                    <div class="ui-body ui-body-a ui-corner-all">
                        <h3><?=$this->translate('Log in as') ?> <?=$this->translate('user') ?></h3>
                        <?=$this->translate('<p>Logged in users benefit from exercises that make use of the settings made by their supervisor.</p>') ?>
                        <?=$this->form ?>
                    </div>
                </div>
            </div>
        </div>
    </div>

<?=$this->partial('partials/footer.phtml') ?>
</section>
