    <footer data-role="footer" data-position="fixed" data-theme="b">
        <nav data-role="navbar">
            <ul>
                <li></li>
                <li><a href="http://www.arteveldehogeschool.be/">Copyright &#169; 2011-<?=date('Y') ?> <?=$this->translate('<b>Artevelde</b> University College Ghent') ?></a></li>
                <li></li>
            </ul>
        </nav>
    </footer>
