<?php
$menuItems = array(
    'instructions' => array(
        $this->baseUrl('index/instructions'),
        $this->translate('Instructions'),
        '',
    ),
    'exercises' => array(
        $this->baseUrl(  $this->role === Ahs_Acl::ROLE_USER ? 'exercise/user/set/start' : 'exercise'),
        $this->translate($this->role === Ahs_Acl::ROLE_USER ? 'Exercises'               : 'Demo exercises'),
        $this->role === Ahs_Acl::ROLE_USER ? ' data-ajax="false"' : '',
    ),
    'about' => array(
        $this->baseUrl('about'),
        $this->translate('About'),
        '',
    ),
    'licenses' => array(
        $this->baseUrl('about/licenses'),
        $this->translate('Licenses'),
        '',
    ),
    'contact' => array(
        $this->baseUrl('contact'),
        $this->translate('Contact'),
        '',
    ),
);
?><header data-role="header" data-theme="b" data-position="fixed">
    <h1><?=$this->translate('Clock learning with Rika-Tika') ?></h1>
<?php if (isset($this->active)): ?>
    <a href="<?=$this->baseUrl('/') ?>" class="ui-btn ui-icon-home ui-btn-icon-notext ui-corner-all" data-ajax="false"><?=$this->translate('Home') ?></a>
<?php else: ?>
    <a href="#adminPanel" class="ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all"><?=$this->translate('Administration') ?></a>
<?php endif ?>
    <a href="#popupMenuLanguage<?=$data = rand() ?>" data-rel="popup" data-transition="pop" class="ui-btn ui-corner-all ui-btn-right"><?=$this->translate('EN') ?></a>
    <div id="popupMenuLanguage<?=$data ?>" data-role="popup">
        <ul data-role="listview" data-inset="true" data-count-theme="b">
            <li><a href="<?=$this->baseUrl('user/language/to/en') ?>" data-ajax="false"><img src="<?=$this->baseUrl('/libraries/flags/flags-iso/shiny/64/GB.png') ?>" alt="" class="ui-li-icon"><span class="ui-li-count">EN</span> English</a></li>
            <li><a href="<?=$this->baseUrl('user/language/to/nl') ?>" data-ajax="false"><img src="<?=$this->baseUrl('/libraries/flags/flags-iso/shiny/64/NL.png') ?>" alt="" class="ui-li-icon"><span class="ui-li-count">NL</span> Nederlands</a></li>
        </ul>
    </div>
    <nav data-role="navbar">
        <ul>
<?php foreach ($menuItems as $key => $value): ?>
            <li><a href="<?=$value[0] ?>"<?=$value[3] ?><?php if (isset($this->active) && $this->active === $key): ?> class="ui-btn-active"<?php endif ?>><?=$value[1] ?></a></li>
<?php endforeach ?>
        </ul>
    </nav>
</header>
