<h1 class="rt rt_magenta">R<span class="rt_cyan">i</span><span class="rt_orange">k</span><span class="rt_blue">a</span>-<span class="rt_orange">T</span><span class="rt_blue">i</span>k<span class="rt_cyan">a</span></h1>
