<?php
/******************************************************************************
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *                        aaaAAaaa            HHHHHH                          *
 *                     aaAAAAAAAAAAaa         HHHHHH                          *
 *                    aAAAAAAAAAAAAAAa        HHHHHH                          *
 *                   aAAAAAAAAAAAAAAAAa       HHHHHH                          *
 *                   aAAAAAa    aAAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   aAAAAAa     AAAAAA                                       *
 *                    aAAAAAAaaaaAAAAAA       HHHHHH                          *
 *                     aAAAAAAAAAAAAAAA       HHHHHH                          *
 *                      aAAAAAAAAAAAAAA       HHHHHH                          *
 *                         aaAAAAAAAAAA       HHHHHH                          *
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t      *
 *                                                                            *
 *                                                                            *
 *                                MEMBER OF GHENT UNIVERSITY ASSOCIATION      *
 *                                                                            *
 *                                                                            *
 ******************************************************************************
 *
 * @author     Olivier Parent
 * @copyright  Copyright © 2011-2014 Artevelde University College Ghent
 * @license    http://www.clocklearning.org/LICENSE.txt
 */

$partialsData = array(
    'active' => 'contact',
    'role' => $this->role,
);

?><section data-role="page">
<?=$this->partial('partials/header.phtml', $partialsData) ?>

    <div data-role="content">
        <div class="ui-body">
            <?=$this->partial('partials/logo.phtml') ?>

            <div class="ui-grid-a ui-responsive">
                <div class="ui-block-a">
                    <div class="ui-body ui-body-a ui-corner-all">
                        <h3><?=$this->translate('Support this project!') ?></h3>
                        <?=$this->translate('
<p>Do you find this open source application useful? Do you have some remarks or maybe you want to help us finish this project?</p>
<p>This can be as easy as filing a bug report, making graphics, or animations, translating this application into your native language or even programming!</p>
<p>Please contact Mrs. Veerle Van Vooren or Mr. Olivier Parent by filling in this contact form!</p>') ?>
                    </div>
                </div><!-- /ui-block-a -->
                <div class="ui-block-b">
                    <div class="ui-body ui-body-a ui-corner-all">
                        <h3><?=$this->translate('Send a message') ?></h3>
                        <?=$this->form ?>
                    </div>
                </div><!-- /ui-block-b -->
            </div>
        </div>
    </div><!-- /content -->

    <?=$this->partial('partials/footer.phtml') ?>
</section>
