@charset "utf-8";
/******************************************************************************
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *                        aaaAAaaa            HHHHHH                          *
 *                     aaAAAAAAAAAAaa         HHHHHH                          *
 *                    aAAAAAAAAAAAAAAa        HHHHHH                          *
 *                   aAAAAAAAAAAAAAAAAa       HHHHHH                          *
 *                   aAAAAAa    aAAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   AAAAAa      AAAAAA                                       *
 *                   aAAAAAa     AAAAAA                                       *
 *                    aAAAAAAaaaaAAAAAA       HHHHHH                          *
 *                     aAAAAAAAAAAAAAAA       HHHHHH                          *
 *                      aAAAAAAAAAAAAAA       HHHHHH                          *
 *                         aaAAAAAAAAAA       HHHHHH                          *
 *                                                                            *
 *                                                                            *
 *                                                                            *
 *      a r t e v e l d e  u n i v e r s i t y  c o l l e g e  g h e n t      *
 *                                                                            *
 *                                                                            *
 *                                MEMBER OF GHENT UNIVERSITY ASSOCIATION      *
 *                                                                            *
 *                                                                            *
 ******************************************************************************
 *
 * @author     Olivier Parent
 * @copyright  Copyright © 2011-2014 Artevelde University College Ghent
 * @license    http://www.clocklearning.org/LICENSE.txt
 */
@import '../css3.less';
@import 'Clock/Analogue.less';
@import 'Clock/Digital.less';

* {
    box-shadow: none !important;
    text-shadow: none !important;
}

.gpu {
    /* kickstart GPU acceleration */
    -webkit-transform: translateZ(0);
}

.size (@value) {
    height: @value;
    width : @value;
}
@colour-hand: #666;
@colour-hand-highlight: 30%;
@colour-hand-A: #00F;
@colour-hand-B: #F00;

/**
 * CSS
 */
.debug {
    color: #999;
    font-size: 10px;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 50px;
    width: 300px;
}
.license {
    background-color: #DDD;
    display: inline-block;
    font-family: monospace;
    margin-left: .5em;
    margin-right: 0;
    line-height: .6em;
    padding: 1em;
    white-space: pre-wrap;
}

#logo-rika-tika {
    max-width: 100%;
}

.ui-body,
[data-role=collapsible-set] {
    margin: auto;
    max-width: 960px;
}
.ui-grid-a,
.ui-grid-b {
    &.ui-responsive {
        .ui-block-a > * {
            margin-right: 5px;
        }
        .ui-block-b > * {
            margin-left: 5px;
        }
    }
}

.message-error,
.message-info,
.message-success {
    .ui-bar {
        border-bottom-width: 0;
        border-color: inherit;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    .ui-body {
        border-color: inherit;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        border-top-width: 0;
    }
}


.message-error {
    border-color: @colour-error;
    .ui-bar {
        background-color: @colour-error-background;
        color: @colour-error;
    }
}
.message-info {
    border-color: @colour-info;
    .ui-bar {
        background-color: @colour-info-background;
        color: @colour-info;
    }
}
.message-success {
    border-color: @colour-success;
    .ui-bar {
        background-color: @colour-success-background;
        color: @colour-success;
    }
}
form {
    .errors {
        color: @colour-error;
    }
}


h1 {
    margin: 0;
    text-align: center;
    font-size: 4em;
}

p {
    line-height: 1.5em;
}

dt {
    font-weight: bold;
}

section[data-role="dialog"] {
    text-align: center;
}

.pair-1::after,
.pair-2::after,
.pair-3::after,
.pair-4::after {
    background-color: hsla(0, 100%, 0%, .25) !important;
}
.pair-1 {
    background-color: @colour-ahs-orange !important;
}
.pair-1::after {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%2214%2C5%209%2C5%207%2C0%205%2C5%200%2C5%204%2C8%202.625%2C13%207%2C10%2011.375%2C13%2010%2C8%20%22%2F%3E%3C%2Fsvg%3E") !important;
}
.pair-2 {
    background-color: @colour-ahs-green !important;
}
.pair-2::after {

    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M1%2C10l-1%2C4l4-1l7-7L8%2C3L1%2C10z%20M11%2C0L9%2C2l3%2C3l2-2L11%2C0z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E") !important;
}
.pair-3 {
    background-color: @colour-ahs-fuchsia !important;
}
.pair-3::after {

    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M7%2C1.872c-2-3-7-2-7%2C2c0%2C3%2C4%2C7%2C4%2C7s2.417%2C2.479%2C3%2C3c0.583-0.521%2C3-3%2C3-3s4-4%2C4-7%20C14-0.128%2C9-1.128%2C7%2C1.872z%22%2F%3E%3C%2Fsvg%3E") !important;
}
.pair-4 {
    background-color: @colour-ahs-blue !important;
}
.pair-4::after {

    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M14%2C9.5c0-0.793-0.465-1.473-1.134-1.795C12.949%2C7.484%2C13%2C7.249%2C13%2C7c0-1.104-0.896-2-2-2%20c-0.158%2C0-0.311%2C0.023-0.457%2C0.058C9.816%2C3.549%2C8.286%2C2.5%2C6.5%2C2.5c-2.33%2C0-4.224%2C1.777-4.454%2C4.046C0.883%2C6.76%2C0%2C7.773%2C0%2C9%20c0%2C1.381%2C1.119%2C2.5%2C2.5%2C2.5h10v-0.07C13.361%2C11.206%2C14%2C10.432%2C14%2C9.5z%22%2F%3E%3C%2Fsvg%3E") !important;
}

.legend {
     margin: .5em 0;
     padding-top: 2px;
}
label {
    font-weight: normal !important;
}

aside.ui-block-c {
    @media (min-width: 960px) {
        background-color: @colour-ahs-lightgrey;
        bottom: 0;
        margin-bottom: 34px;
        margin-top: 42px;
        position: absolute;
        right: 0;
        top: 0;
    }
}
aside > div {
    margin: 2em auto;
    max-width: 650px;
    padding: 0 1em;
    #dialog,
    #mascot {
        float: left;
    }
    #dialog {
        background-color: #FFF;
        border-radius: 5px;
        display: inline-block;
        text-align: center;
        width: 320px;
        span {
            font-weight: bold;
        }
        &.no-subtitles {
            visibility: hidden;
        }
    }
    #dialog.colour {
        b {
            &.hours {
                color: @colour-hand-A;
            }
            &.minutes {
                color: @colour-hand-B;
            }
        }
    }
    #dialog.colour.colour-switch {
        b {
            &.hours {
                color: @colour-hand-B;
            }
            &.minutes {
                color: @colour-hand-A;
            }
        }
    }
    #mascot {
        margin: 0 10px 10px 0;
    }
}

#page-exercise {
    .ui-block-a,
    .ui-block-c {
        text-align: center;
    }
}
.type02 {
    .legend {
        margin-bottom: 0;
    }
}
@box-height: 100px;
.type03,
.type04,
.type05,
.type06,
.type15,
.type16,
.type17 {
    #exercise-answers,
    #exercise-questions {
        .ui-radio,
        .ui-checkbox {
            label {
                display: block;
                line-height: @box-height;
                figure {
                    max-width: 300px;
                    max-height: 100px;
                    top: 0;
                    bottom:0;
                    margin:auto;
                    position: absolute;
                }
            }
        }
    }
    label {
        height: @box-height;
    }
}
.type11,
.type12,
.type18,
.type19 {
    .ui-slider {
        input {
            visibility: hidden;
        }
        .ui-slider-bg {
            background: @colour-hand;
        }
        .ui-slider-track {
            margin: 0 15px;
        }
    }
    .colour {
        .ui-slider {
            #slider-h + .ui-slider-track .ui-slider-bg {
                background: @colour-hand-A;
            }
            #slider-m + .ui-slider-track .ui-slider-bg {
                background: @colour-hand-B;
            }
        }
    }
    .colour.colour-switch {
        .ui-slider {
            #slider-h + .ui-slider-track .ui-slider-bg {
                background: @colour-hand-B;
            }
            #slider-m + .ui-slider-track .ui-slider-bg {
                background: @colour-hand-A;
            }
        }
    }
}
