<?=$this
    ->navigation()
    //->menu()
    ->setMinDepth(2)
    ->setMaxDepth(3)
?>

<div class="well well-lg">
    <h2><?=$this->translate('Welcome!') ?></h2>
    <?=$this->translate('<p>This is the <strong>Supervisor section</strong> of this site. Use the menu at the top of the page to navigate through this section.</p>') ?>
</div>
