    <ul class="breadcrumb">
<?php foreach($this->pages as $page) : ?>
<?php if ($page->isActive()) : ?>
        <li class="active"><?= /* @todo $this->navigation()->breadcrumbs()->getUseTranslator() && $t = $this->navigation()->breadcrumbs()->getTranslator() */$this->translate($page->getLabel()) ?></li>
<?php else: ?>
        <li><a href="<?=$page->getHref() ?>"><?=$this->translate($page->getLabel()) ?></a></li>
<?php endif ?>
<?php endforeach ?>
    </ul>
