<?php
$page = Zend_Controller_Front::getInstance()->getRequest()->getModuleName() . '/' . Zend_Controller_Front::getInstance()->getRequest()->getControllerName();

$auth = Zend_Auth::getInstance();
$this->role = null;
if ($auth->hasIdentity() ) {
    $this->role = $auth->getIdentity()->Role;
}
?><header>
<?=$this->navigation()->breadcrumbs(), PHP_EOL ?>
    <h1 class="rt rt_magenta">R<span class="rt_cyan">i</span><span class="rt_orange">k</span><span class="rt_blue">a</span>-<span class="rt_orange">T</span><span class="rt_blue">i</span>k<span class="rt_cyan">a</span></h1>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="<?=$this->baseUrl('supervisor') ?>"><?=$this->translate("Supervisor") ?></a></div>
            <?php if ($this->role === Ahs_Acl::ROLE_SUPERVISOR) : ?>
                <ul class="nav navbar-nav">
                    <li<?=($page == 'supervisor/account'  ? ' class="active"': '') ?>><a href="<?=$this->baseUrl('supervisor/account')  ?>"><?=$this->translate("My account")    ?></a></li>
                    <li<?=($page == 'supervisor/users'    ? ' class="active"': '') ?>><a href="<?=$this->baseUrl('supervisor/users')    ?>"><?=$this->translate("Users")         ?></a></li>
                    <li<?=($page == 'supervisor/groups'   ? ' class="active"': '') ?>><a href="<?=$this->baseUrl('supervisor/groups')   ?>"><?=$this->translate("Groups")        ?></a></li>
                    <li<?=($page == 'supervisor/sets'     ? ' class="active"': '') ?>><a href="<?=$this->baseUrl('supervisor/sets')     ?>"><?=$this->translate("Exercises") ?></a></li>
                    <li<?=($page == 'supervisor/settings' ? ' class="active"': '') ?>><a href="<?=$this->baseUrl('supervisor/settings') ?>"><?=$this->translate("Settings")      ?></a></li>
                </ul>
            <?php endif ?>
        </div>
    </nav>
<?php if ($page !== 'supervisor/index'): ?>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header"><?=$this->menu()->htmlify($this->container->findOneBy('active', true )->getParent()->setClass('navbar-brand')), PHP_EOL ?></div>
    <?=$this->menu()->renderSubMenu($this->container), PHP_EOL ?>
        </div>
    </nav>
<?php endif ?>
</header>
