<section id="page-exercise" class="test" data-role="page" data-theme="d" data-content-theme="d" data-exercise="TestDigital">
    <h1 style="margin-left:.5em"><?=$this->translate('It’s') ?> <?=$this->answers[0][2] ?>.</h1>
<?php foreach ($this->answers as $index => $answer) : ?>
    <div style="background-color:<?= ($index === 0) ? '#6C6' : '#C66' ?>;color:#FFF;text-shadow:none;margin:1em;padding:1em;text-align:center;float:left;width:245px">
        <figure id="clock-<?=$index + 1 ?>" class="clock-widget digital<?=$this->colour, $this->twentyfour ?> theme-a" data-h="<?=$answer[0] ?>" data-m="<?=$answer[1] ?>"<?=($index > 0 ? ' style="visibility:hidden"' : '')?>>
            <section class="clock">
                <div class="digit hour tens"></div>
                <div class="digit hour ones"></div>
                <div class="digit minute tens"></div>
                <div class="digit minute ones"></div>
            </section>
        </figure>
        <h2 style="opacity:.3"><?=$answer[0], ':', $answer[1] ?></h2>
        <h3 style="opacity:.2"><?=$this->translate('It’s') ?> <?=$answer[2] ?>.</h3>
        <p style="opacity:.2"><?=$answer[3] ?></p>
    </div>
<?php endforeach; ?>
</section>
